<nz-modal
    nzCentered
    [nzWidth]="500"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="'Cập nhật Mục tiêu nhỏ'"
    (nzOnOk)="isVisible = false">

    <div class="px-8 mt-8 scroll-gray-8" style="max-height: calc(100vh - 250px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12">
                    <label>Nội dung mục tiêu nhỏ/Dự án<span class="text-danger">(*)</span></label>
                    <textarea formControlName="noiDungMucTieuNho" rows="3" class="form-control input_42 pt-3" maxlength="500"></textarea>
                    <div class="form-text text-danger" *ngIf="f?.noiDungMucTieuNho?.errors && f?.noiDungMucTieuNho?.touched">
                        <span>Nội dung mục tiêu nhỏ/Dự án là bắt buộc</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <button
                nz-popconfirm
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl"
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 w_130 py-3 mr-2"
                (nzOnCancel)="isVisible = true"
                (nzOnConfirm)="isVisible = false"
                [translate]="'COMMON.btn.cancel'">
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-primary btn-14 py-3 w_130" (click)="onEdit()" [translate]="'COMMON.btn.confirm'"></button>
        </div>
    </div>
</nz-modal>