<div class="detail">
    <div class="d-flex flex-column-fluid title my-3">
        Chi tiết chuyến đi công tác
    </div>
    <div class="d-flex flex-column-fluid">
        <div #getElementHeight class="col-10 col-lg-9 col-xxl-10 order-1 order-xxl-1 pl-0">
            <div class="box-shadow p-8 radius-10 bg-white">
                <div class="detail_header">
                    <div class="text-left">
                        <div class="company">CÔNG TY CỔ PHẦN LIÊN DOANH Ô TÔ HYUNDAI THÀNH CÔNG VIỆT NAM (HTV)</div>
                        <div class="no">Mã chuyến đi: <b>{{dataChuyenDiDetail?.maChuyenDi}}</b></div>
                    </div>
                    <div class="text-right">
                        <div><img src="assets/media/logos/ycmh_logo_paper.png" alt="logo" height="16" width="240">
                        </div>
                        <div class="today">Hà Nội, Ngày {{dataChuyenDiDetail?.ngayTao *1000 | date: 'dd'}} tháng
                            {{dataChuyenDiDetail?.ngayTao *1000
                            | date: 'MM'}} năm {{dataChuyenDiDetail?.ngayTao *1000 | date: 'yyyy'}}</div>
                    </div>
                </div>
                <div class="detail_name">
                    <p>CHI TIẾT CHUYẾN ĐI CÔNG TÁC </p>
                </div>

                <div class="content_text">
                    Thông tin chi tiết hành trình :
                </div>
                <div *ngIf="dataChuyenDiDetail?.hoSoIdYeuCau">

                    <table class="table table_classic table_40 mt-5">
                        <tr>
                            <td style="padding-left: 30px;">Người đăng ký</td>
                            <td style="font-weight: bold;">{{dataDetail?.nguoiDatHoTen}}</td>
                            <td>Bộ phận</td>
                            <td style="font-weight: bold;">{{dataDetail?.tenPhongBan}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Thời gian đi</td>
                            <td style="font-weight: bold;">{{ dataDetail?.thoiGianDi * 1000 | date: 'dd/MM/yyyy HH:mm'
                                }}</td>
                            <td>Thời gian về</td>
                            <td style="font-weight: bold;">{{ dataDetail?.thoiGianVe * 1000 | date: 'dd/MM/yyyy HH:mm'
                                }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Tỉnh thành</td>
                            <td style="font-weight: bold;">{{dataDetail?.tinhThanhDisplay}}</td>
                            <td>Quận huyện</td>
                            <td style="font-weight: bold;">{{dataDetail?.quanHuyenDisplay}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Nội dung</td>
                            <td style="font-weight: bold;">{{dataDetail?.noiDungCongViec}}</td>
                            <td>Hành trình</td>
                            <td style="font-weight: bold;">{{dataDetail?.chiTietHanhTrinh}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Phương tiện đề xuất</td>
                            <td style="font-weight: bold;">{{dataDetail?.phuongTienDeXuatDisplay}}</td>
                            <td>Hình thức</td>
                            <td style="font-weight: bold;">{{dataDetail?.hinhThucLaiXeDisplay}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Kế hoạch công tác</td>
                            <td style="font-weight: bold;">{{dataDetail?.isTrongKeHoach ? 'Trong kế hoạch' : 'Ngoài kế hoạch'}}</td>
                            <td >Ghi chú</td>
                            <td style="font-weight: bold;">{{dataDetail?.ghiChu}}</td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="dataChuyenDiDetail?.isChuyenDiNgoai">
                    
                    <table class="table table_classic table_40 mt-5">
                        <tr>
                            <td style="padding-left: 30px;">Cán bộ tạo</td>
                            <td style="font-weight: bold;">{{dataChuyenDiDetail?.nguoiTaoHoTen}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Thời gian đi</td>
                            <td style="font-weight: bold;">{{ dataChuyenDiDetail?.thoiGianDi * 1000 | date: 'dd/MM/yyyy HH:mm'
                                }}</td>
                            <td>Thời gian về</td>
                            <td style="font-weight: bold;">{{ dataChuyenDiDetail?.thoiGianVe * 1000 | date: 'dd/MM/yyyy HH:mm'
                                }}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Tỉnh thành</td>
                            <td style="font-weight: bold;">{{dataChuyenDiDetail?.tinhThanh}}</td>
                            <td>Quận huyện</td>
                            <td style="font-weight: bold;">{{dataChuyenDiDetail?.quanHuyen}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px;">Hành trình</td>
                            <td style="font-weight: bold;">{{dataChuyenDiDetail?.hanhTrinh}}</td>
                            <td>Kế hoạch công tác</td>
                            <td style="font-weight: bold;">{{dataChuyenDiDetail?.isTrongKeHoach ? 'Trong kế hoạch' : 'Ngoài kế hoạch'}}</td>
                        </tr>

                    </table>
                </div>


                <div class="mb-5">
                    <div class="mb-2 title_top">Danh sách người đi</div>
                    <!-- <div class="line-height-xl w-100" *ngIf="dataChuyenDiDetail?.hoSoIdYeuCau">
                        <ul>
                            <li *ngFor="let item of dataDetail?.nguoiDi.items" style="font-weight: bold;">
                                {{item?.nguoiDiEmployeeDisplay}} - {{item?.nguoiDiDepartmentDisplay | titlecase}}
                            </li>
                        </ul>
                    </div> -->

                    <div class="line-height-xl w-100" *ngIf="dataChuyenDiDetail?.nguoiDis">
                        <ul>
                            <li *ngFor="let item of dataChuyenDiDetail?.nguoiDis" style="font-weight: bold;">
                                {{item?.nguoiDiEmployeeDisplay}} - {{item?.nguoiDiDepartmentDisplay | titlecase}}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Mode detail -->
                <ng-container *ngIf="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                    <div class="mb-2 title_top">Thông tin tài xế và điểm đón</div>
                    <div>
                        <table class="table table_classic table_40 mt-5">
                            <tr>
                                <td style="padding-left: 30px;" *ngIf="dataChuyenDiDetail?.hinhThucDichVu">Hình thức dịch vụ</td>
                                <td style="font-weight: bold;"  *ngIf="dataChuyenDiDetail?.hinhThucDichVu">{{dataChuyenDiDetail?.hinhThucDichVu}}</td>
                                <td  *ngIf="dataChuyenDiDetail?.matKhauThanhToan">Mật khẩu thanh toán</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.matKhauThanhToan">{{dataChuyenDiDetail?.matKhauThanhToan}}</td>
                                <td  *ngIf="dataChuyenDiDetail?.taiKhoanThanhToan">Tài khoản thanh toán</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.taiKhoanThanhToan">{{dataChuyenDiDetail?.taiKhoanThanhToan}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px;" *ngIf="dataChuyenDiDetail?.thoiGianDon">Thời gian đón</td>
                                <td style="font-weight: bold;"*ngIf="dataChuyenDiDetail?.thoiGianDon">{{ dataChuyenDiDetail?.thoiGianDon * 1000 | date: 'dd/MM/yyyy
                                    : HH:mm' }}</td>
                                <td *ngIf="dataChuyenDiDetail?.diaChiDon">Địa chỉ đón</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.diaChiDon">{{dataChuyenDiDetail?.diaChiDon}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px;">Họ tên tài xế</td>
                                <td style="font-weight: bold;">{{dataChuyenDiDetail?.taiXeHoTen}}</td>
                                <td>Số diện thoại tài xế</td>
                                <td style="font-weight: bold;">{{dataChuyenDiDetail?.taiXeSoDT}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px;">Biển số xe</td>
                                <td style="font-weight: bold;">{{dataChuyenDiDetail?.xeDonBienSo}}</td>
                                <td>Tên xe</td>
                                <td style="font-weight: bold;">{{dataChuyenDiDetail?.xeDonTenXe}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px;" *ngIf="dataChuyenDiDetail?.kmStart">Km bắt đầu</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.kmStart">{{dataChuyenDiDetail?.kmStart}}</td>
                                <td *ngIf="dataChuyenDiDetail?.kmEnd">Km kết thúc</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.kmEnd">{{dataChuyenDiDetail?.taiXeSoDT}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px;" *ngIf="dataChuyenDiDetail?.veGuiXe">Km bắt đầu</td>
                                <td style="font-weight: bold;" *ngIf="dataChuyenDiDetail?.veGuiXe">{{dataChuyenDiDetail?.kmStart}}</td>
                                <td style="padding-left: 30px;">Ghi chú</td>
                                <td style="font-weight: bold;">{{dataChuyenDiDetail?.ghiChu}}</td>
                            </tr>
                        </table>
                    </div>
                </ng-container>

                <!-- Mode edit -->
                <ng-container *ngIf="dataChuyenDiDetail?.isAllowUpdateThongTin">
                    <form [formGroup]='formGroup'>
                        <!-- Danh sách người đi -->
                        <!-- <div class="mb-2 title_top">Danh sách người đi</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Bộ phận <span class="text-danger">(*)</span>
                                    </div>
                                    <div class="col-8 select_42">
                                        <nz-select [ngModel]="null" (ngModelChange)="getHoTen($event)" nzShowSearch nzAllowClear nzPlaceHolder="Bộ phận" [ngModelOptions]="{standalone: true}" style="width: 100%"
                                            [nzDisabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                            <ng-container *ngFor="let o of boPhanOptions">
                                                <nz-option [nzValue]="o?.value" [nzLabel]="o?.label"></nz-option>
                                            </ng-container>
                                        </nz-select>
                                        <div class="text-form text-danger"></div>
                                    </div>
                                </div>
        
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Họ tên <span class="text-danger">(*)</span>
                                    </div>
                                    <div class="col-8 select_42">
                                        <nz-select [ngModel]="null" (ngModelChange)="onAddNguoiDi($event)" nzShowSearch nzAllowClear nzPlaceHolder="Họ tên" [ngModelOptions]="{standalone: true}" style="width: 100%"
                                            [nzDisabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                            <ng-container *ngFor="let o of hoTenOptions">
                                                <nz-option [nzValue]="o?.value" [nzLabel]="o?.label"></nz-option>
                                            </ng-container>
                                        </nz-select>
                                        <div class="text-form text-danger"></div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-6">
                                <table class="table table_classic table_40 table_no table_blue">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th class="w-50">Họ và tên</th>
                                            <th class="w-50">Phòng ban</th>
                                            <th class="w_50"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of fNguoiDis?.value; let i = index;">
                                            <td>{{i+1}}</td>
                                            <td>{{getObjByKeyOptions('hoTenOptions', item?.nguoiDiEmployeeKey)?.label}}</td>
                                            <td>{{getObjByKeyOptions('boPhanOptions', item?.nguoiDiDepartmentKey)?.label}}</td>
                                            <td class="w_50 text-center">
                                                <button nz-popconfirm
                                                    [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin"
                                                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                                                    [nzIcon]="iconTpl" class="btn btn-icon btn-hover font-size-14"
                                                    (nzOnConfirm)="removeRow(i)">
                                                    <i class="fas fa-trash-alt icon-lg text-danger"></i>
                                                </button>
                                                <ng-template #iconTpl>
                                                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                                                </ng-template>
                                            </td>
                                        </tr>
                                        <tr *ngIf="fNguoiDis?.value?.length == 0">
                                            <td colspan="6" class="text-center">
                                                <nz-alert
                                                    nzType="error"
                                                    nzBanner
                                                    nzMessage="Vui lòng thêm danh sách người đi!"
                                                ></nz-alert>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->

                        <!-- Phân tài xế và xe cho chuyến đi -->
                        <div class="mb-2 title_top">Thông tin tài xế và điểm đón</div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-8" *ngIf="dataChuyenDiDetail?.hinhThucDichVu">
                                    <div class="col-4 ctrl_label">
                                        Hình thức dịch vụ <span class="text-danger">(*)</span>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="hinhThucDichVu" class="form-control input_42" placeholder="Hình thức dịch vụ" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Mã chuyến đi
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="maChuyenDi" class="form-control input_42" placeholder="Mã chuyến đi" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <!-- isTaiXeKhac -->
                                <div class="row mb-8" *ngIf="dataChuyenDiDetail?.isTaiXeKhac || true">
                                    <div class="col-4 ctrl_label">
                                        Họ tên lái xe
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="taiXeHoTen" class="form-control input_42" placeholder="Họ tên lái xe" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>

                                <!-- isXeKhac -->
                                <div class="row mb-8" *ngIf="dataChuyenDiDetail?.isXeKhac || true">
                                    <div class="col-4 ctrl_label">
                                        Biển số xe
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="xeDonBienSo" class="form-control input_42" placeholder="Biển số xe" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Thời gian đón
                                    </div>
                                    <div class="col-8">
                                        <nz-date-picker nzShowTime formControlName="thoiGianDon" nzPlaceHolder="Chọn thời gian đón"
                                            [nzFormat]="'dd-MM-yyyy HH:mm'" class="form-control input_42" [nzDisabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                        </nz-date-picker>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-6">
                                <div class="row mb-8">
                                    <ng-container [ngSwitch]="f?.hinhThucDichVu?.value">
                                        <ng-container *ngSwitchCase="'Mai Linh'">
                                            <div class="col-6 col-xxl-4 ctrl_label">
                                                Mật khẩu thanh toán
                                            </div>
                                            <div class="col-6 col-xxl-8">
                                                <input type="text" formControlName="matKhauThanhToan" class="form-control input_42"
                                                placeholder="Mật khẩu thanh toán" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Grap'">
                                            <div class="col-6 col-xxl-4 ctrl_label">
                                                Tài khoản thanh toán
                                            </div>
                                            <div class="col-6 col-xxl-8">
                                                <input type="text" formControlName="taiKhoanThanhToan" class="form-control input_42" placeholder="Tài khoản thanh toán" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault><div class="mb-13"></div></ng-container>
                                    </ng-container>
                                </div>
        
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Người tạo
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="nguoiTao" class="form-control input_42" placeholder="Người tạo" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <!-- isTaiXeKhac -->
                                <div class="row mb-8" *ngIf="dataChuyenDiDetail?.isTaiXeKhac || true">
                                    <div class="col-4 ctrl_label">
                                        Số điện thoại lái xe
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="taiXeSoDT" class="form-control input_42" placeholder="Số điện thoại lái xe" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <!-- isXeKhac -->
                                <div class="row mb-8" *ngIf="dataChuyenDiDetail?.isXeKhac || true">
                                    <div class="col-4 ctrl_label">
                                        Tên xe
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="xeDonTenXe" class="form-control input_42" placeholder="Tên xe" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
        
                                <div class="row mb-8">
                                    <div class="col-4 ctrl_label">
                                        Địa điểm đón
                                    </div>
                                    <div class="col-8">
                                        <input type="text" formControlName="diaChiDon" class="form-control input_42" placeholder="Địa điểm đón" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 ctrl_label">
                                Hình thức dịch vụ
                            </div>
                            <div class="col-10">
                                <textarea formControlName="ghiChu" cols="30" rows="4" class="w-100 form-control" [attr.disabled]="!dataChuyenDiDetail?.isAllowUpdateThongTin"></textarea>
                            </div>
                        </div>
                    </form>
                </ng-container>

                <!-- footer  -->
                <div class="footer mt-5">
                    <div class="d-flex justify-content-end">
                        <!-- <div *ngIf="dataChuyenDiDetail?.isAllowUpdateThongTin; else otherMode" (click)="onEdit()">
                            <button class="btn btn-light btn-14 mr-2 py-3" style="width: 150px"
                                [translate]="'Cập nhật sửa'"></button>
                        </div>
                        <ng-template #otherMode> -->
                            <div *ngIf="dataChuyenDiDetail?.isAllowUpdateLenXe">
                                <button class="btn btn-primary btn-14 mr-2 py-3" style="width: 150px" [translate]="'Lên xe'"
                                    (click)="runningBussinessTrip.showModal(dataChuyenDiDetail)"></button>
                            </div>
                            <div *ngIf="dataChuyenDiDetail?.isAllowUpdateKetThuc">
                                <button class="btn btn-primary btn-14 mr-2 py-3" style="width: 150px"
                                    [translate]="'Kết thúc'"
                                    (click)="finishBussinessTrip.showModal(dataChuyenDiDetail)"></button>
                            </div>
                            <div *ngIf="dataChuyenDiDetail?.isAllowUpdateHuy">
                                <button class="btn btn-danger btn-14 py-3 mr-2" style="width: 150px"
                                    [translate]="'COMMON.btn.reject'"
                                    (click)="rejectBussinessTrip.showModal(dataChuyenDiDetail)"></button>
                            </div>
                            <!-- <div >
                                <button class="btn btn-primary btn-14 mr-2 py-3" style="width: 150px"
                                    [translate]="'Export Excel'"
                                    (click)="exportExcel()"></button>
                            </div> -->
                            <div *ngIf="dataChuyenDiDetail?.isAllowXacNhanHanhTrinh">
                                <button
                                nz-popconfirm 
                                nzPopconfirmTitle="Bạn có chắc chắn xác nhận hành trình không ?"
                                [nzOkText]="'COMMON.btn.yes' | translate"
                                [nzCancelText]="'COMMON.btn.no' | translate"
                                class="btn btn-primary btn-14 mr-2 py-3" 
                                (nzOnCancel)="khongXacNhanHanhTrinh(dataChuyenDiDetail)"
                                (nzOnConfirm)="xacNhanHanhTrinh(dataChuyenDiDetail)">
                                Xác nhận hành trình
                            </button>
                            </div>
                            <div *ngIf="dataChuyenDiDetail?.isAllowDanhGia">
                                <button class="btn btn-primary btn-14 mr-2 py-3" style="width: 150px"
                                    [translate]="'Đánh giá chuyến đi'"
                                    (click)="formEvaluate.showModal(dataChuyenDiDetail)"></button>
                            </div>
                        <!-- </ng-template> -->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2 col-lg-3 col-xxl-2 order-2 order-xxl-1 box-shadow radius-10 scroll-gray bg-white"
            [style.height.px]="getElementHeight?.offsetHeight - 19">
            <app-time-line-trip [data]="dataChuyenDiDetail?.lichSuChuyenDis"></app-time-line-trip>
        </div>
    </div>
</div>
<app-reject-bussinesstrip-modal #rejectBussinessTrip (loadTimeLine)="getChuyenDiDetail()">
</app-reject-bussinesstrip-modal>
<app-running-bussinesstrip-modal #runningBussinessTrip (loadTimeLine)="getChuyenDiDetail()">
</app-running-bussinesstrip-modal>
<app-finish-bussinesstrip-modal #finishBussinessTrip (loadTimeLine)="getChuyenDiDetail()">
</app-finish-bussinesstrip-modal>
<app-form-evaluate-modal #formEvaluate (loadTimeLine)="getChuyenDiDetail()">
</app-form-evaluate-modal>