<nz-modal
    nzCentered
    [(nzVisible)]="isVisible"
    [nzWidth]="700"
    [nzFooter]="null"
    [nzKeyboard]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="isVisible = false" [nzTitle]="dataDetail ? 'Cập nhật Chính sách đại lý' : 'Thêm mới Chính sách đại lý' | translate">
    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 230px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên bộ phận ban hành
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="TenBoPhanBanHanh" placeholder="Tên bộ phận ban hành" class="form-control input_42" readonly>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên chính sách <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="TenChinhSach" placeholder="Tên chính sách" class="form-control input_42">
                    <div class="form-text text-danger" *ngIf="f?.TenChinhSach?.errors && f?.TenChinhSach?.touched">
                        <span>Tên chính sách là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Mã chính sách <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="MaChinhSach" placeholder="Mã chính sách" class="form-control input_42">
                    <div class="form-text text-danger" *ngIf="f?.MaChinhSach?.errors && f?.MaChinhSach?.touched">
                        <span>Mã chính sách là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Ngày ban hành
                </div>
                <div class="col-12 col-md-7">
                    <nz-date-picker formControlName="NgayBanHanh" nzPlaceHolder=" {{'DOCUMENT.LAW.DETAIL.effectiveDateFrom' | translate }}"
                        [nzFormat]="'dd-MM-yyyy'" class="form-control input_42" rows="1">
                    </nz-date-picker>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    {{'DOCUMENT.LAW.DETAIL.effectiveDateTo' | translate }}
                </div>
                <div class="col-12 col-md-7">
                    <nz-date-picker formControlName="NgayHetHieuLuc" nzPlaceHolder=" {{'DOCUMENT.LAW.DETAIL.effectiveDateTo' | translate }}"
                        [nzFormat]="'dd-MM-yyyy'" class="form-control input_42" rows="1">
                    </nz-date-picker>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Bộ phận được xem</div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="BoPhanXemKeys" [nzOptions]="boPhanXemOptions" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Bộ phận được xem' | translate }}" class="w-100"></nz-select>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label"> Phạm vi áp dụng chính sách</div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="VungMienXemKeys" [nzOptions]="vungMienXemOptions" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Vùng miền áp dụng' | translate }}" class="w-100"></nz-select>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label"></div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="TinhThanhXemKeys" [nzOptions]="tinhThanhXemOptions" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Tỉnh thành áp dụng' | translate }}" class="w-100"></nz-select>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label"></div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="DaiLyXemKeys" [nzOptions]="daiLyXemOptions" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Đại lý áp dụng' | translate }}" class="w-100"></nz-select>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Trạng Thái</div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="TrangThaiKey" [nzOptions]="trangThaiOptions" nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Trạng thái' | translate }}" class="w-100"></nz-select>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Cho phép download</div>
                <div class="col-12 col-md-7">
                    <label nz-checkbox formControlName="IsAllowDownload">{{f?.IsAllowDownload.value ? 'Có' : 'Không'}}</label>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tài liệu đính kèm
                </div>
                <div class="col-12 col-md-7">
                    <app-select-file 
                        [reset]="false" 
                        [multiple]="true" 
                        [acceptKey]="'excel_word_pdf_rar_zip'" 
                        [text]="'Tải tài liệu lên'" 
                        [detailReadOnly]="detailReadOnlyFiles"
                        [(selectedFiles)]="selectedFiles">
                    </app-select-file>
                </div>
            </div>

        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <div>
                <button
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate"
                    class="btn btn-light btn-14 py-3 w_130 mr-2"
                    (nzOnCancel)="isVisible = true"
                    (nzOnConfirm)="isVisible = false">
                    Hủy
                </button>
                <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                </ng-template>
            </div>
            <div>
                <button class="btn btn-primary btn-14 py-3 w_130" (click)="dataDetail ? onEdit() : onCreate()">Ghi lại</button>
            </div>
        </div>
    </div>
</nz-modal>