.status {
  &-phonghop {
    color: #fff;
    border-radius: 2px;
    background: #5cb85c;
    border: 0.5px solid #239e23;
  }
  &-congviec {
    color: #fff;
    border-radius: 2px;
    background: #337ab7;
    border: 0.5px solid #1f629c;
  }
}