
<div class="card card-custom">
    <div class="card-header border-0">
        <div class="card-title">
            <h3 class="card-label">Bưu phẩm của tôi</h3>
        </div>
    </div>
    <div class="card-body py-0">
        <!-- begin: search -->
        <div class="row search_table">
            <div class="col-12 px-0 input-group">
                <div class="input-group-prepend position-relative">
                    <i class="fab la-sistrix icon-lg position-absolute" style="bottom: 30px; right: 15px;"></i>
                    <input type="text" class="form-control" (input)="search$.next($event.target.value)" placeholder="Tìm kiếm..." />
                </div>
            </div>
        </div>
        <!-- end: search -->
        <!-- begin: table -->
        <nz-table
            [nzLoading]=""
            [nzSize]="'small'"
            [nzShowPagination]="false"
            [nzData]="dataTable.items"
            [nzScroll]="{ x: '1100px', y: 'calc(100vh - 360px)' }">
            <thead>
                <tr>
                    <ng-container *ngFor="let col of dataTable.columns">
                        <th
                            [nzWidth]="col?.width"
                            [nzSortOrder]="col.sortOrder || null"
                            (nzSortOrderChange)="sortOrderChange($event, col?.sortField)">
                            {{ col?.title }}
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataTable.items; let i = index"  class="cursor-pointer">
                    <ng-container *ngFor="let col of dataTable.columns">
                        <td *ngIf="col?.field" [ngSwitch]="col?.field" (click)="detailParcel?.showModal(data)" [class.font-weight-bolder]="data?.isAllowXacNhan">
                            <span *ngSwitchCase="'tenVanBan'" class="truncate-2" [title]="data[col.field]">
                                <span class="symbol-label">
                                    <img src="assets/media/bg/Vector_vbdc.svg" class="align-self-center w_30 h_30">
                                </span>
                                {{ data[col.field] }}
                            </span>
                            <span *ngSwitchCase="'ngayXacNhan'" class="truncate-2" [title]="data[col.field]">
                                {{ data[col.field] * 1000 | date: 'dd/MM/yyyy HH:mm' }}
                            </span>
                            <span *ngSwitchCase="'tenTrangThai'" [title]="data[col.field]">
                                <ng-container [ngSwitch]="data[col.field]">
                                    <span *ngSwitchCase="'Hoàn thành nhận BP'"
                                    class="label label-light-success label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchCase="'Xác nhận đã nhận'"
                                class="label label-light-warning label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchCase="'Từ chối nhận'"
                                class="label label-light-danger label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchDefault
                                    class="label label-light-primary label-inline">
                                    {{  data[col.field] }}</span>
                                </ng-container>
                                </span>
                                <span *ngSwitchDefault class="truncate-2" [title]="data[col.field]">{{ data[col.field] }}</span>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </nz-table>
        <!-- end: table -->
        <app-paginator [paginator]="paginator" (paginate)="getList()"></app-paginator>
    </div>
</div>
<app-detail-parcel-modal #detailParcel></app-detail-parcel-modal>