<div class="card card-custom">
    <div class="card-header border-0">
        <div class="card-title">
            <h3 class="card-label">Chính sách đại lý</h3>
        </div>
    </div>
    <div class="card-body py-0">
        <!-- begin: search -->
        <div class="row search_table">
            <div class="col-12 col-sm-8 col-xxl-8 px-0 input-group">
                <div class="input-group-prepend position-relative">
                    <i class="fab la-sistrix icon-lg position-absolute" style="bottom: 30px; right: 15px;"></i>
                    <input type="text" class="form-control" (input)="search$.next($event.target.value)"  placeholder="{{ 'Tìm kiếm' | translate }}..." />
                </div>
                <button type="button" title="Tìm kiếm nâng cao" class="btn" [class.btn-primary]="!isSearchAdvance" [class.btn-info]="isSearchAdvance" style="width: 50px" (click)="isSearchAdvance = !isSearchAdvance">
                    <i *ngIf="!isSearchAdvance" nz-icon nzType="appstore-add" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
                    <i *ngIf="isSearchAdvance" nz-icon nzType="appstore" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
                </button>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-xxl-4 px-0 text-lg-right">
                <button type="button" class="btn btn-primary" (click)="agencypolicyForm.showModal()">{{ 'COMMON.btn.add_new' | translate }}</button>
            </div>
        </div>
        <div class="row search_table">
            <div class="col-12 p-0">
                <ng-container *ngIf="isSearchAdvance">
                    <div class="row m-0">
                        <nz-range-picker [ngModel]="null" (ngModelChange)="onChangeDate($event)" [nzPlaceHolder]="['Ngày ban hành từ', 'Ngày ban hành đến']" nzFormat="dd/MM/yyyy"></nz-range-picker>
                        <nz-select ngModel="null"
                            (ngModelChange)="paginator.PhongBanKey = $event; getList()"
                            [nzOptions]="phongBanOptions" nzShowSearch nzAllowClear
                            nzPlaceHolder="{{ 'Bộ phận' | translate }}"
                            class="w_200">
                        </nz-select>
                        <nz-select ngModel="null"
                            (ngModelChange)="paginator.TrangThaiKey = $event; getList()"
                            [nzOptions]="trangThaiOptions" nzShowSearch nzAllowClear
                            nzPlaceHolder="{{ 'Trạng thái' | translate }}"
                            class="w_200">
                        </nz-select>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- end: search -->
        <!-- begin: table -->
        <nz-table
            [nzLoading]=""
            [nzSize]="'small'"
            [nzShowPagination]="false"
            [nzData]="dataTable.items"
            [nzScroll]="{ x: '1100px', y: 'calc(100vh - 360px)' }">
            <thead>
                <tr>
                    <ng-container *ngFor="let col of dataTable.columns">
                        <th *ngIf="col?.sortField"
                            [nzAlign]="col.align"
                            [nzWidth]="col?.width"
                            [nzSortOrder]="col.sortOrder || null"
                            (nzSortOrderChange)="sortOrderChange($event, col?.field)">
                            {{ col?.title }}
                        </th>
                        <th *ngIf="!col?.sortField"
                            [nzAlign]="col.align"
                            [nzWidth]="col?.width">
                            {{ col?.title }}
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataTable.items; let i = index" class="cursor-pointer">
                    <ng-container *ngFor="let col of dataTable.columns">
                        <td *ngIf="col?.field" [ngSwitch]="col?.field" [nzAlign]="col.align">
                            <span *ngSwitchCase="'ngayBanHanh'" (click)="showDetail(data)" class="truncate-2" [title]="data[col.field] * 1000 | date: 'dd/MM/yyyy'">
                                {{ data[col.field] * 1000 | date: 'dd/MM/yyyy' }}
                            </span>
                            <span *ngSwitchCase="'trangThaiDisplay'">
                                <ng-container [ngSwitch]="data[col.field]">
                                    <span *ngSwitchCase="'Hiệu lực'" class="label label-success label-inline">
                                        {{ data[col.field] }}
                                    </span>
                                    <span *ngSwitchCase="'Hết hiệu lực'" class="label label-danger label-inline">
                                        {{ data[col.field] }}
                                    </span>
                                    <span *ngSwitchDefault class="label label-light label-inline">{{ data[col.field] }}</span>
                                </ng-container>
                            </span>
                            <div *ngSwitchCase="'thaoTac'" class="d-flex justify-content-center">
                                <a *ngIf="data?.isAllowEdit" title="Edit" (click)="agencypolicyForm.showModal(data)"
                                    class="btn btn-icon btn-hover btn-sm mx-2">
                                    <img src="assets/media/bg/Vector_edit.svg" class="align-self-center w_30 h_30">
                                </a>
                                <a *ngIf="data?.isAllowDelete" title="Delete" 
                                    class="btn btn-icon btn-hover btn-sm mx-2 cursor-pointer"
                                    nz-popconfirm
                                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                                    [nzIcon]="iconTpl"
                                    [nzOkText]="'COMMON.btn.yes' | translate"
                                    [nzCancelText]="'COMMON.btn.no' | translate"
                                    (nzOnConfirm)="onDelete(data?.chinhSachDaiLyId)">
                                    <img src="assets/media/bg/Vector_delete.svg" class="align-self-center w_30 h_30">
                                    <ng-template #iconTpl>
                                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                                    </ng-template>
                                </a>
                                <a *ngIf="data?.isAllowDownload" title="Download zip" (click)="zipFile(data?.chinhSachDaiLyId)"
                                    class="btn btn-icon btn-hover btn-sm mx-2">
                                    <img src="assets/media/bg/Vector_download.svg" class="align-self-center w_30 h_30">
                                </a>
                            </div>
                            <span *ngSwitchDefault (click)="showDetail(data)" class="truncate-2" [title]="data[col.field]">{{ data[col.field] }}</span>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </nz-table>
        <!-- end: table -->
        <app-paginator [paginator]="paginator" (paginate)="getList()"></app-paginator>
    </div>
</div>
<app-agencypolicy-form-modal #agencypolicyForm="agencypolicy-form" (loadList)="getList()"></app-agencypolicy-form-modal>