<div class="row">
    <!--begin::Content-->
    <div class="col-xxl-8 order-2 order-xxl-1">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">TIN TỨC SỰ KIỆN NỘI BỘ</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content mt-5" id="myTabLIist18">
                    <!--begin::Tap pane-->
                    <div class="tab-pane fade show active" id="kt_tab_pane_1_1" role="tabpanel"
                        aria-labelledby="kt_tab_pane_1_1">
                        <!--begin::Form-->
                        <div class="form">
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://cdn.thukyluat.vn//uploads/NewsThumbnail/2021/02/09/140652Cac-nguyen-tac-phong-ngua-lay-nhiem-khi-cham-soc-nguoi-nhiem-Covid-19.jpg')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a routerLink="/home/detail/TTSKNB-HTC"
                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">DỊCH
                                        BỆNH CORONAVIRUS VÀ NHỮNG YÊU CẦU BẮT BUỘC ĐỂ BẢO VỆ SỨC KHỎE CHO CHÍNH CBNV TẬP
                                        ĐOÀN THÀNH CÔNG.</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Hiện nay dịch bệnh viêm
                                        đường hô hấp cấp tính do nCoV (Corona virus) gây ra đang diễn biến phức tạp và
                                        nguy hiểm. Để công tác phòng chống dịch bệnh được thực hiện triệt để, tránh lây
                                        lan, đề nghị các CBNV toàn tập đoàn nghiêm túc thực hiện các bước sau đề phòng
                                        tránh lây lan bệnh và bảo vệ sực khỏe cho chính bản thân mình:</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://s.rfi.fr/media/display/0fba6ba0-3aee-11eb-b359-005056a964fe/w:1280/p:16x9/000_8V27VM.webp')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a href="#"
                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">CORONA
                                        VIRUS - TRIỆU CHỨNG VÀ CÁC BIỆN PHÁP PHÒNG NGỪA</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Corona Virus - chủ động
                                        nắm được triệu chứng nhiễm bệnh và cách phòng ngừa để đảm bảo an toàn cho mình
                                        và mọi người xung quanh.</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/5CF7/production/_110599732_hi059331569.jpg')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a href="#"
                                        class="text-dark-75 font-weight-bolder font-size-lg text-hover-primary mb-1">CHỦ
                                        ĐỘNG PHÒNG, CHỐNG DỊCH VIÊM PHỔI CẤP DO VIRUS CORONA MỚI</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Diễn biến dịch Viêm phổi
                                        cấp do virus Corona đang diễn biến rất nghiêm trọng. Đề nghị CBNV khẩn trương
                                        triển khai các công tác để chủ động phòng, chống dịch bệnh viêm phổi cấp do
                                        chủng của vi rút mới Corona virus gây ra.</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-6">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://hucfl.edu.vn/vi/data/2018/1/chaoxuan201811.JPG')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a href="#"
                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">Chương
                                        trình gặp mặt Chào Xuân 2020.</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Chào đón năm mới Canh Tý
                                        2020 với thật nhiều thành công và may mắn, BP. HCNS xin gửi thông báo tới các
                                        CBNV về chương trình: “Gặp mặt Chào Xuân 2020” được tổ chức ấm cúng tại Thành
                                        Công Tower. Đây là dịp để tất CBNV cùng chúc nhau những lời chúc tốt đẹp nhất
                                        trong ngày đầu tiên đi làm của năm mới.</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://cdn.thukyluat.vn//uploads/NewsThumbnail/2021/02/09/140652Cac-nguyen-tac-phong-ngua-lay-nhiem-khi-cham-soc-nguoi-nhiem-Covid-19.jpg')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a routerLink="/home/detail/TTSKNB-HTC"
                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">DỊCH
                                        BỆNH CORONAVIRUS VÀ NHỮNG YÊU CẦU BẮT BUỘC ĐỂ BẢO VỆ SỨC KHỎE CHO CHÍNH CBNV TẬP
                                        ĐOÀN THÀNH CÔNG.</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Hiện nay dịch bệnh viêm
                                        đường hô hấp cấp tính do nCoV (Corona virus) gây ra đang diễn biến phức tạp và
                                        nguy hiểm. Để công tác phòng chống dịch bệnh được thực hiện triệt để, tránh lây
                                        lan, đề nghị các CBNV toàn tập đoàn nghiêm túc thực hiện các bước sau đề phòng
                                        tránh lây lan bệnh và bảo vệ sực khỏe cho chính bản thân mình:</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center pb-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-120 symbol-2by3 flex-shrink-0 mr-4">
                                    <div class="symbol-label"
                                        style="background-image: url('https://s.rfi.fr/media/display/0fba6ba0-3aee-11eb-b359-005056a964fe/w:1280/p:16x9/000_8V27VM.webp')">
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex flex-column flex-grow-1">
                                    <!--begin::Title-->
                                    <a href="#"
                                        class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-1">CORONA
                                        VIRUS - TRIỆU CHỨNG VÀ CÁC BIỆN PHÁP PHÒNG NGỪA</a>
                                    <!--end::Title-->
                                    <!--begin::Desc-->
                                    <span class="text-dark-50 font-weight-normal font-size-sm">Corona Virus - chủ động
                                        nắm được triệu chứng nhiễm bệnh và cách phòng ngừa để đảm bảo an toàn cho mình
                                        và mọi người xung quanh.</span>
                                    <!--begin::Desc-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Tap pane-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Content-->
    <!--begin::Aside-->
    <div class="col-lg-12 col-xxl-4 order-1 order-xxl-2">
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <!-- <div class="card-header border-0 pt-5"> -->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder">Văn bản vừa ban hành</h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2 mb-4 scroll-gray-box">
                    <div class="pt-1">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">QUY
                                    ĐỊNH CHUNG CỦA BAN QUẢN LÝ TÒA NHÀ THÀNH CÔNG</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">Quyết
                                    định
                                    sử dụng phần mềm Viber là kênh giao dịch thông tin nội bộ</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">Quy
                                    trình quản lý và sử dụng tài sản</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">
                                    Quy định về việc nhận hàng tại Tòa nhà Thành Công</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 3-->
        </div>
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <!-- <div class="card-header border-0 pt-5"> -->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::header-->
                <div class="card-header border-0">
                    <h3 class="card-title font-weight-bolder">Chính sách vừa cập nhật</h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2 mb-4 scroll-gray-box">
                    <div class="pt-1">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">QUY
                                    ĐỊNH CHUNG CỦA BAN QUẢN LÝ TÒA NHÀ THÀNH CÔNG</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">Quyết
                                    định
                                    sử dụng phần mềm Viber là kênh giao dịch thông tin nội bộ</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">Quy
                                    trình quản lý và sử dụng tài sản</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center pb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-45 symbol-light mr-4">
                                <span class="symbol-label">
                                    <span class="svg-icon svg-icon-2x svg-icon-dark-50">
                                        <i class="far fa-file-word icon-2x"></i>
                                    </span>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="#"
                                    class="text-dark-75 text-hover-primary mb-1">
                                    Quy định về việc nhận hàng tại Tòa nhà Thành Công</a>
                                <span class="text-muted font-weight-bold">Ngày hiệu lực :15/05/2021</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 3-->
        </div>
    </div>
    <!--end::Aside-->
</div>