<nz-modal
    nzCentered
    [(nzVisible)]="isVisible"
    [nzWidth]="600"
    [nzFooter]="null"
    [nzKeyboard]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="isVisible = false" [nzTitle]="'Huỷ lịch họp'">
    <div class="card-body scroll-gray-8 p-8" style="max-height: calc(100vh - 230px);">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-12">Lý do huỷ <span class="text-danger">(*)</span></div>
                <div class="col-12">
                    <textarea rows="4" formControlName="reasonCancel" placeholder="Lý do huỷ" class="form-control input_42 pt-3 min_h_42"></textarea>
                    <div class="form-text text-danger" *ngIf="f?.reasonCancel?.errors && f?.reasonCancel?.touched">
                        <span>Lý do huỷ là bắt buộc</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <button
                nz-popconfirm 
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl"
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 py-3 w_130 mr-2" 
                (nzOnCancel)="isVisible = true" 
                (nzOnConfirm)="isVisible = false">
                Hủy
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-danger btn-14 py-3 w_130" (click)="onTuChoi()">Ghi lại</button>
        </div>
    </div>
</nz-modal>