::ng-deep {
  .ant-table-wrapper:not(.table_min_height_none) .ant-table-body {
    min-height: 166px !important;
  }
  .mark {
    &-corner {
      &::after {
        border-radius: 0em;
        border-width: 1em;
        border-right-color: #df1c30ec !important;
        border-top-color: #df1c30ec !important;
        // Flag build
        content: "";
        position: absolute;
        border-color: transparent;
        border-style: solid;
        cursor: pointer;
        top: 0;
        right: 0;
      }
      span {
        margin-left: -5px;
      }
    }
    &-bg {
      &-success {
        background-color: #0080007a !important;
      }
      &-warning {
        background-color: #ffff0071 !important;
      }
    }
  }
}
