<nz-modal
    nzCentered
    [nzWidth]="600"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="'Cập nhật lên xe'"
    (nzOnOk)="isVisible = false">

    <form [formGroup]="formGroup">
        <div class="row my-5 mx-4 justify-content-between">
            <div class="col-5 ctrl_label">
             Km start <span *ngIf="f?.KmStart?.errors?.required" class="text-danger">(*)</span>
            </div>
            <div class="col-7">
                <input formControlName="KmStart" type="number" placeholder="Nhập Km bắt đầu" class="form-control input_42" />
                <div class="form-text text-danger" *ngIf="f?.KmStart?.errors && f?.KmStart?.touched">
                    <span>Bạn phải nhập Km bắt đầu.</span>
                </div>
            </div>
        </div>
    </form>

    <div class="footer mt-5">
        <div class="d-flex justify-content-end">
            <button class="btn btn-light btn-14 py-3 py-3 mr-2 w_130" (click)="isVisible = false" [translate]="'COMMON.btn.cancel'"></button>
            <button class="btn btn-primary btn-14 py-3 w_130" (click)="onSubmitApprove()" [translate]="'COMMON.btn.confirm'"></button>
        </div>
    </div>
</nz-modal>