<div class="card card-custom">
<div class="card-header border-0">
    <div class="card-title">
        <h3 class="card-label">Danh sách nhận bưu phẩm</h3>
    </div>
</div>
<div class="card-body py-0">
    <!-- begin: search -->
    <div class="row search_table">
        <div class="col-12 col-sm-8 col-xxl-6 px-0 input-group">
            <div class="input-group-prepend position-relative">
                <i class="fab la-sistrix icon-lg position-absolute" style="bottom: 30px; right: 15px;"></i>
                <input type="text" class="form-control" (input)="search$.next($event.target.value)" placeholder="Tìm kiếm..." />
            </div>
            <ng-container *ngIf="isSearchAdvance">
                <nz-select ngModel="selectStatusOptions"
                    (ngModelChange)="paginator.TrangThaiKey = $event; getList()"
                    [nzOptions]="statusOptions" nzAllowClear
                    nzPlaceHolder="Bộ lọc">
                </nz-select>
            </ng-container>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-xxl-6 px-0 text-lg-right">
            <button type="button" class="btn m-0 m-md-1" [class.btn-primary]="!isSearchAdvance" [class.btn-info]="isSearchAdvance" style="width: 50px" (click)="isSearchAdvance = !isSearchAdvance">
                <i *ngIf="!isSearchAdvance" nz-icon nzType="appstore-add" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
                <i *ngIf="isSearchAdvance" nz-icon nzType="appstore" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
            </button>
            <button type="button" class="btn btn-outline-info m-0 m-md-1 w_120" (click)="exportParcel.showModal()">Import Excel</button>
            <button type="button" class="btn btn-primary m-0 m-md-1 w_105" (click)="formParcel.showModal()">{{ 'COMMON.btn.add_new' | translate }}</button>
        </div>
    </div>
    <!-- end: search -->
    <!-- begin: table -->
    <nz-table
        [nzLoading]=""
        [nzSize]="'small'"
        [nzShowPagination]="false"
        [nzData]="dataTable.items"
        [nzScroll]="{ x: '1100px', y: 'calc(100vh - 360px)' }">
        <thead>
            <tr>
                <ng-container *ngFor="let col of dataTable.columns">
                    <th *ngIf="col?.sortField"
                        [nzWidth]="col?.width"
                        [nzAlign]="col?.align"
                        [nzSortOrder]="col.sortOrder || null"
                        (nzSortOrderChange)="sortOrderChange($event, col?.sortField)">
                        {{ col?.title }}
                    </th>
                    <th *ngIf="!col?.sortField"
                        [nzAlign]="col?.align"
                        [nzWidth]="col?.width">
                        {{ col?.title }}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataTable.items; let i = index"  class="cursor-pointer">
                <ng-container *ngFor="let col of dataTable.columns">
                    <td *ngIf="col?.field" [ngSwitch]="col?.field" [nzAlign]="col?.align" (click)="detailParcel.showModal(data)" [class.font-weight-bolder]="data?.isAllowChangeDaChuyen">
                        <span *ngSwitchCase="'tenVanBan'" class="truncate-2" [title]="data[col.field]">
                            <span class="symbol-label">
                                <img src="assets/media/bg/Vector_vbdc.svg" class="align-self-center w_30 h_30">
                            </span>
                            {{ data[col.field] }}
                        </span>
                        <span *ngSwitchCase="'ngayXacNhan'" class="truncate-2" [title]="data[col.field]">
                            {{ data[col.field] * 1000 | date: 'dd/MM/yyyy HH:mm' }}
                        </span>
                        <span *ngSwitchCase="'tenTrangThai'" [title]="data[col.field]">
                            <span *ngSwitchCase="'tenTrangThai'" [title]="data[col.field]">
                                <ng-container [ngSwitch]="data[col.field]">
                                    <span *ngSwitchCase="'Hoàn thành nhận BP'"
                                    class="label label-light-success label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchCase="'Xác nhận đã nhận'"
                                class="label label-light-warning label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchCase="'Từ chối nhận'"
                                class="label label-light-danger label-inline">
                                    {{ data[col.field] }}
                                </span>
                                <span *ngSwitchDefault
                                    class="label label-light-primary label-inline">
                                    {{  data[col.field] }}</span>
                                </ng-container>
                                </span>
                        </span>
                        <div *ngSwitchCase="'thaoTac'" class="d-flex justify-content-center">
                            <a *ngIf="data?.isAllowEdit" title="Edit" (click)="formParcel.showModal(data?.buuPhamId)"
                                class="btn btn-icon btn-hover btn-sm mx-2">
                                <img src="assets/media/bg/Vector_edit.svg" class="align-self-center w_30 h_30">
                            </a>
                            <a *ngIf="data?.isAllowDelete" title="Delete" 
                                class="btn btn-icon btn-hover btn-sm mx-2 cursor-pointer"
                                nz-popconfirm
                                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                                [nzIcon]="iconTpl"
                                [nzOkText]="'COMMON.btn.yes' | translate"
                                [nzCancelText]="'COMMON.btn.no' | translate"
                                (nzOnConfirm)="onDelete(data?.vanBanDinhCheId)">
                                <img src="assets/media/bg/Vector_delete.svg" class="align-self-center w_30 h_30">
                                <ng-template #iconTpl>
                                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                                </ng-template>
                            </a>
                            <a *ngIf="data?.isAllowDownload" title="Download zip" (click)="zipFile(data?.vanBanDinhCheId)"
                                class="btn btn-icon btn-hover btn-sm mx-2">
                                <img src="assets/media/bg/Vector_download.svg" class="align-self-center w_30 h_30">
                            </a>
                        </div>
                        <span *ngSwitchDefault class="truncate-2" [title]="data[col.field]">{{ data[col.field] }}</span>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>
    <!-- end: table -->
    <app-paginator [paginator]="paginator" (paginate)="getList()"></app-paginator>
</div>
</div>
<app-form-parcel-modal #formParcel (loadList)="getList()"></app-form-parcel-modal>
<app-export-parcel-modal #exportParcel></app-export-parcel-modal>
<app-detail-import-parcel-modal #detailParcel (loadList)="getList()"></app-detail-import-parcel-modal>