<h5 class="text-blue-01 mb-8">Ảnh chữ ký của tôi</h5>

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 col-xxl-4 text-center">
        <div *ngIf="signatureUrl" class="image-input image-input-outline image-input-circle" id="kt_image_3">
            <img [src]="signatureUrl | safe: 'resourceUrl'" class="image-input-wrapper w_200 h_200 mb-5">
        </div>
        <div>
            <app-crop-image #cropImage="crop-image" (base64)="fileData = $event"></app-crop-image>
            <button class="btn btn-primary w-100 mt-4 mx-1" (click)="onSubmit()">Lưu file</button>
        </div>
    </div>
</div>
<app-change-password></app-change-password>