<nz-modal
    nzCentered
    [nzWidth]="825"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="'Thêm mới KPI Quý'"
    (nzOnOk)="isVisible = false">

    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 180px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Phòng ban<span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="phongBanKey" nzShowSearch nzAllowClear [nzOptions]="phongBanOptions" nzPlaceHolder="Phòng ban" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.phongBanKey?.errors && f?.phongBanKey?.touched">
                        <span>Phòng ban là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Mục tiêu - KHCV - KPI bộ phận <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="mucTieuKey" nzShowSearch nzAllowClear [nzOptions]="mucTieuOptions" nzPlaceHolder="Mục tiêu - KHCV - KPI bộ phận" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.mucTieuKey?.errors && f?.mucTieuKey?.touched">
                        <span>Mục tiêu - KHCV - KPI bộ phận là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Năm <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="nam" class="form-control input_42" placeholder="Năm">
                    <div class="form-text text-danger" *ngIf="f?.nam?.errors && f?.nam?.touched">
                        <span>Năm là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Quý <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="quyKey" nzShowSearch nzAllowClear [nzOptions]="quyOptions" nzPlaceHolder="Quý" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.quyKey?.errors && f?.quyKey?.touched">
                        <span>Quý là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Người phụ trách
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="nguoiPhuTrachKey" nzShowSearch nzAllowClear [nzOptions]="nguoiPhuTrachOptions" nzPlaceHolder="Người phụ trách" class="w-100"></nz-select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 ctrl_label">
                    Trưởng bộ phận
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="truongBoPhanKey" nzShowSearch nzAllowClear [nzOptions]="truongBoPhanOptions" nzPlaceHolder="Trưởng bộ phận" class="w-100"></nz-select>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <button
                nz-popconfirm
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl"
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 w_130 py-3 mr-2"
                (nzOnCancel)="isVisible = true"
                (nzOnConfirm)="isVisible = false"
                [translate]="'COMMON.btn.cancel'">
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-primary btn-14 py-3 w_130" (click)="onCreate()" [translate]="'COMMON.btn.confirm'"></button>
        </div>
    </div>
</nz-modal>