:host {
    .box_shadow {
        -moz-box-shadow: 0px 0px 12px #e0e0e0;
        -webkit-box-shadow: 0px 0px 12px #e0e0e0;
        box-shadow: 0px 0px 12px #e0e0e0;
    }

    .employee_box {
        border: 2px solid #E3EBF6;
        border-radius: 15px;
        word-break: break-all;
        .avatar_box {
            background-color: #F5F9FD;
        }
    }
}
::ng-deep {
    .danh_ba {
        nz-select-top-control {
            margin-top: -5px;
            border: none !important;
        }
    }
}