<nz-modal
    nzCentered
    [nzWidth]="600"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="'Thay đổi mật khẩu'"
    (nzOnOk)="isVisible = false">
    <div class="px-10">
        <form [formGroup]="formGroup">
            <div>
                <p>Yêu cầu mật khẩu:</p>
                <ol>
                    <li>Tối thiểu 8 ký tự</li>
                    <li>Password phức tạp (không chứa tên user trong password, bao gồm chữ hoa, chữ thường, số, ký tự đặc biệt, không
                        trùng mật khẩu cũ)</li>
                </ol>
            </div>

            <div class="row my-5">
                <div class="col-12 col-md-4 ctrl_label">Mật khẩu hiện tại</div>
                <div class="col-12 col-md-8">
                    <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                        <input formControlName="currentPassword" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mật khẩu hiện tại"/>
                    </nz-input-group>
                    <div class="form-text text-danger" *ngIf="f?.currentPassword?.errors && f?.currentPassword?.touched">
                        <span>Mật khẩu hiện tại là bắt buộc</span>
                    </div>
                </div>
            </div>
        
            <div class="row mb-5">
                <div class="col-12 col-md-4 ctrl_label">Mật khẩu mới</div>
                <div class="col-12 col-md-8">
                    <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                        <input formControlName="newPassword" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mật khẩu mới"/>
                    </nz-input-group>
                    <div class="form-text text-danger" *ngIf="f?.newPassword?.errors && f?.newPassword?.touched">
                        <span *ngIf="f?.newPassword?.errors?.required">Mật khẩu mới là bắt buộc</span>
                        <span *ngIf="f?.newPassword?.errors?.pattern">Tối thiểu 8 ký tự, phải có chữ hoa, chữ thường, số, ký tự đặc biệt</span>
                    </div>
                </div>
            </div>
        
            <div class="row mb-10">
                <div class="col-12 col-md-4 ctrl_label">Nhập lại mật khẩu mới</div>
                <div class="col-12 col-md-8">
                    <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                        <input formControlName="newPasswordVerify" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu mới"/>
                    </nz-input-group>
                    <div class="form-text text-danger" *ngIf="f?.newPasswordVerify?.errors && f?.newPasswordVerify?.touched">
                        <span *ngIf="f?.newPasswordVerify?.errors?.required">Mật khẩu nhập lại là bắt buộc</span>
                        <span *ngIf="f?.newPasswordVerify?.errors?.matchPassword">Mật khẩu nhập lại không khớp</span>
                    </div>
                </div>
            </div>
            <!-- Eye template -->
            <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" class="cursor-pointer"></i>
            </ng-template>
        </form>
    </div>
    <div class="footer">
        <div class="d-flex justify-content-end">
            <button 
                nz-popconfirm 
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl" 
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 py-3 m-1 w_130"
                (nzOnCancel)="isVisible = true" 
                (nzOnConfirm)="isVisible = false" 
                [translate]="'COMMON.btn.cancel'">
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-primary btn-14 py-3 m-1 w_150" (click)="onSubmit()" [translate]="'COMMON.btn.change_password'"></button>
        </div>
    </div>
</nz-modal>