<div class="row justify-content-between align-content-center mb-5 mx-0">
  <h5 class="h_42 mb-0 text-blue-01" style="line-height: 42px;">E_Kế hoạch công việc chi tiết của bộ phận</h5>
  <div>
    <button type="button" (click)="expandDescendants()" class="btn btn-success mx-1 pr-3"><i nz-icon nzType="select" nzTheme="outline"></i></button>
    <button type="button" (click)="treeControl.expandAll()" class="btn btn-danger mx-1 pr-3"><i nz-icon nzType="aim" nzTheme="outline"></i></button>
    <button type="button" (click)="settingColumn.showModal()" class="btn btn-primary min_w_90">Ẩn hiện cột</button>
  </div>
</div>

<!-- Tree -->
<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" (window:resize)="onResizeStickyMobile()">
  <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine class="w-100">
    <!-- data  -->
    <nz-tree-node-option class="p-2 w-100">
      <div class="d-flex justify-content-between" [style.maxWidth.px]="getCalcScale(node)">
        <!-- Input binding -->
        <ng-template [ngTemplateOutlet]="inputTemplate" [ngTemplateOutletContext]="{ node: node }"></ng-template>
        <!-- Action -->
        <ng-template [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{ node: node }"></ng-template>
      </div>
      <!-- Table render -->
      <ng-container *ngIf="dataTable.isActive === true && node?.meta?.chiTietItems?.length;" 
        [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ columns: dataTable.columns, columns2: dataTable.columns2, items: node?.meta?.chiTietItems, node: node, meta: node?.meta }">
      </ng-container>
      <!-- Disable table notice -->
      <nz-alert *ngIf="dataTable.isActive === false && node?.meta?.chiTietItems?.length;" nzType="warning" nzMessage="Đã tắt hiển thị bảng chi tiết, bật hiển thị lại tại nút ẩn hiện cột!" nzShowIcon></nz-alert>
    </nz-tree-node-option>
  </nz-tree-node>

  <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine class="w-100">
    <!-- icon -->
    <nz-tree-node-toggle class="p-2">
      <i nz-icon [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'" nzTheme="outline"></i>
    </nz-tree-node-toggle>
    <!-- data -->
    <nz-tree-node-option class="p-2 w-100">
      <div class="d-flex justify-content-between" [style.maxWidth.px]="getCalcScale(node)">
        <!-- Input binding -->
        <ng-template [ngTemplateOutlet]="inputTemplate" [ngTemplateOutletContext]="{ node: node }"></ng-template>
        <!-- Action -->
        <ng-template [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{ node: node }"></ng-template>
      </div>
    </nz-tree-node-option>
  </nz-tree-node>
</nz-tree-view>

<!-- Table template -->
<ng-template #tableTemplate let-items="items" let-columns="columns" let-columns2="columns2" let-node="node" let-meta="meta">
  <app-table [data]="items" [maxWidth]="getCalcScale(node) + 'px'" [maxHeight]="'600px'">
    <thead>
      <tr>
        <ng-container *ngFor="let col of columns; let i = index; let f = first; let l = last; trackBy:trackByFn">
          <th
            *ngIf="col?.isActive"
            [nzAlign]="col?.align"
            [class]="col?.className"
            [class.stick]="col?.stickyL || col?.stickyR"
            [style.minWidth]="col?.width"
            [style.borderBottom]="'1px solid #e3ebf6'"
            [style]="col?.stickyL ? {'left': (f ? 0 : columns[i-1]?.width)} : col?.stickyR ? {'right': (l ? 0 : col?.width)} : null"
            [rowspan]="col?.rowspan"
            [colspan]="col?.colspan">
            {{ col?.title }}
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="showHideColumnTienDoThucHienCongViec">
        <ng-container *ngFor="let col of columns2; trackBy:trackByFn">
          <th
            [class]="col?.className"
            [nzAlign]="col?.align"
            [style.minWidth]="col?.width"
            [rowspan]="col?.rowspan"
            [colspan]="col?.colspan">
            {{ col?.title }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of items; let idx = index; trackBy:trackByFn">
        <ng-container *ngFor="let col of columns; let i = index; let f = first; let l = last; trackBy:trackByFn">
          <ng-container [ngSwitch]="col.field">
            <!-- tienDoThucHienCongViec - tháng -->
            <ng-container *ngIf="col?.isActive">
              <ng-container *ngSwitchCase="'tienDoThucHienCongViec'">
                <ng-container *ngFor="let col2 of columns2; trackBy:trackByFn">
                  <td 
                    [nzAlign]="col2?.align"
                    class="px-1 position-relative" 
                    [class]="col2?.className"
                    [class.mark-bg-success]="data[col2.field]?.trangThaiTienDoKey == '1'"
                    [class.mark-bg-warning]="data[col2.field]?.trangThaiTienDoKey == '2'"
                    [style.minWidth]="col2?.width"
                    (click)="data[col2.field]?.moTa ? basicContentHtml?.showModal(data[col2.field]?.moTa) : false">
                    <div [class.mark-corner]="data[col2.field]?.moTa">
                      <span [title]="data[col2.field]?.moTa" *ngIf="data[col2.field]?.trangThaiTienDoKey == '3'" class="text-danger font_size_20 position-absolute">X</span>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- other -->
            <ng-container *ngIf="col?.isActive && col.field != 'tienDoThucHienCongViec'" >
              <td 
                [nzAlign]="col?.align"
                class="px-1" 
                [class]="col?.className"
                [class.stick]="col?.stickyL || col?.stickyR"
                [class.position-relative]="col?.field == 'ghiChu'"
                [class.bg-success]="data?.isCheck === true && col?.field == 'stt'" 
                [class.bg-danger]="data?.isCheck === false && col?.field == 'stt'" 
                [style.minWidth]="col?.width"
                [style]="col?.stickyL ? {'left': (f ? 0 : columns[i-1]?.width)} : col?.stickyR ? {'right': (l ? 0 : col?.width)} : null">
                <span *ngSwitchCase="'stt'">{{ idx + 1 }}</span>
                <span *ngSwitchCase="'noiDungCongViec'" [innerHTML]="(data[col.field] || '-') | safe: 'html'"></span>
                <span *ngSwitchCase="'tieuChiDanhGia'" [innerHTML]="(data[col.field] || '-') | safe: 'html'"></span>
                <span *ngSwitchCase="'taiLieuDauRa'" [innerHTML]="(data[col.field] || '-') | safe: 'html'" (click)="basicContentFileKpiDetail?.showModal({id: data?.kpiKeHoachCongViecChiTietId, files: data})"></span>
                <span *ngSwitchCase="'nguoiPhuTrachDisplays'">
                  <ul class="pl-6 mb-0 text-left"><li *ngFor="let n of data[col.field]; trackBy:trackByFn">{{n}}</li></ul>
                </span>
                <span *ngSwitchCase="'raSoat'">
                  <ng-container *ngIf="permission?.isAllowRaSoat">
                    <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" (click)="confirmAccept.showModal('', data)" class="mx-1 cursor-pointer"></i>
                    <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#F64E60'" (click)="confirmReject.showModal('', data)" class="mx-1 cursor-pointer"></i>
                  </ng-container>
                </span>
                <div *ngSwitchCase="'yKienNguoiPheDuyet'" class="d-flex justify-content-center">
                  <ng-container *ngIf="permission?.isAllowBinhLuan">
                    <i nz-icon nzType="message" [nzTheme]="'twotone'" [nzTwotoneColor]="'#007bff'" class="mt-1 cursor-pointer"></i>
                    <span class="ml-1 cursor-pointer" [style.color]="'#409CFF'" (click)="comment.showModal(data)">{{data[col.field]}}</span>
                  </ng-container>
                </div>
                <span *ngSwitchCase="'ghiChu'" [class.mark-corner]="data[col.field]" (click)="basicContentHtml?.showModal(data[col.field])" class="cursor-pointer"></span>
                <div *ngSwitchCase="'thaoTac'" class="d-flex justify-content-center">
                  <!-- Lock/Unlock - isAllowTacVuLock -->
                  <i 
                    nz-icon 
                    *ngIf="permission?.isAllowTacVuLock" 
                    [title]="data?.isLock ? 'Lock' : 'Unlock'" 
                    [nzType]="data?.isLock ? 'lock' : 'unlock'" 
                    [nzTheme]="'twotone'" 
                    [nzTwotoneColor]="data?.isLock ? '#F64E60' : '#52c41a'" 
                    class="m-1 cursor-pointer"
                    nz-popconfirm
                    [nzPopconfirmTitle]="data?.isLock ? 'Mở khoá bản ghi này?' : 'Khoá bản ghi này?'"
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate" 
                    (nzOnConfirm)="onLockUnlock(data, meta)">
                    <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                    </ng-template>
                  </i>
                  <!-- Edit/Delete - isAllowEdit -->
                  <i nz-icon *ngIf="permission?.isAllowEdit" [title]="'Edit'" (click)="formPlan?.showModal(1, data?.kpiKeHoachCongViecChiTietId)" [nzType]="'edit'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#FFA800'" class="m-1 cursor-pointer"></i>
                  <i 
                    *ngIf="permission?.isAllowEdit"
                    nz-icon 
                    [title]="'Delete'"
                    [nzType]="'delete'" 
                    [nzTheme]="'twotone'" 
                    [nzTwotoneColor]="'#F64E60'"
                    class="m-1 cursor-pointer"
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate" 
                    (nzOnConfirm)="onDeleteKpiKeHoachCongViecChiTiet(data?.kpiKeHoachCongViecChiTietId)">
                    <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                    </ng-template>
                  </i>
                </div>
                <span *ngSwitchDefault class="truncate-2" [title]="data[col.field]">{{ data[col.field] || '-' }}</span>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </app-table>
</ng-template>

<!-- Input binding -->
<ng-template #inputTemplate let-node="node">
  <div class="w-100">
    <input *ngIf="node?.type === 'draft'; else isShowName" type="text" [(ngModel)]="node.name" [id]="node?.id" class="form-control" (keyup.enter)="onAddKpiKeHoachCongViec(node)" maxlength="500">
    <ng-template #isShowName>{{node?.meta?.soThuTu}} {{node?.name}}</ng-template>
  </div>
</ng-template>

<!-- Action level 0,1,2... -->
<ng-template #actionTemplate let-node="node">
  <!-- Input binding - Draft -->
  <div *ngIf="node?.type === 'draft' && permission?.isAllowEdit" class="min_w_60 text-right">
    <i nz-icon (click)="onAddKpiKeHoachCongViec(node)" [title]="'Save'" [nzType]="'save'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#0BB7AF'" class="cursor-pointer ml-2 mr-1"></i>
    <i
      nz-icon 
      class="cursor-pointer ml-1 mr-2"
      nz-popconfirm
      nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
      [title]="'Delete'"
      [nzType]="'delete'" 
      [nzTheme]="'twotone'" 
      [nzTwotoneColor]="'#F64E60'"
      [nzIcon]="iconTpl"
      [nzOkText]="'COMMON.btn.yes' | translate"
      [nzCancelText]="'COMMON.btn.no' | translate" 
      (nzOnConfirm)="onDeleteTreeLevelDraft(node)">
      <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red;"></i>
      </ng-template>
    </i>
  </div>
  <!-- Default -->
  <div *ngIf="node?.type !== 'draft' && permission?.isAllowEdit" class="min_w_100 text-right">
    <i nz-icon *ngIf="node.level == 0" (click)="onAddTreeLevel(node)" [title]="'Add target'" nzType="plus-square" [nzTheme]="'twotone'" [nzTwotoneColor]="'#673ab7'" class="m-1 cursor-pointer"></i>
    <ng-container *ngIf="node.level > 0">
      <i nz-icon [title]="'Add target'" (click)="onAddTreeLevel(node)" nzType="plus-square" [nzTheme]="'twotone'" [nzTwotoneColor]="'#673ab7'" class="m-1 cursor-pointer"></i>
      <i nz-icon [title]="'Add data table'" (click)="formPlan?.showModal(0, node?.id)" nzType="plus-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" class="m-1 cursor-pointer"></i>
      <i nz-icon [title]="'Edit'" (click)="editTinyTarget.showModal(node)" [nzType]="'edit'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#FFA800'" class="m-1 cursor-pointer"></i>
      <i
        nz-icon 
        class="m-1 cursor-pointer"
        nz-popconfirm
        nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
        [title]="'Delete'"
        [nzType]="'delete'" 
        [nzTheme]="'twotone'" 
        [nzTwotoneColor]="'#F64E60'"
        [nzIcon]="iconTpl"
        [nzOkText]="'COMMON.btn.yes' | translate"
        [nzCancelText]="'COMMON.btn.no' | translate" 
        (nzOnConfirm)="onDeleteKpiKeHoachCongViec(node?.id)">
        <ng-template #iconTpl>
            <i nz-icon nzType="question-circle-o" style="color: red;"></i>
        </ng-template>
      </i>
    </ng-container>
  </div>
</ng-template>

<!-- show - hide - column -->
<app-setting-column-modal #settingColumn="setting" [dataTable]="dataTable" (change)="onChangeShowHideColumn($event)"></app-setting-column-modal>

<!-- Ra soát - accept -->
<app-confirm-input-basic 
    #confirmAccept="confirm-input-basic" 
    confirm="Xác nhận đồng ý duyệt?" 
    title="Duyệt Mục tiêu - KHCV - KPI" 
    label="Ý kiến" 
    (submit)="onSubmitAccept($event)">
</app-confirm-input-basic>

<!-- Ra soát - reject -->
<app-confirm-input-basic 
    #confirmReject="confirm-input-basic" 
    confirm="Xác nhận báo cáo lại số liệu này?" 
    title="Báo cáo lại Mục tiêu - KHCV - KPI" 
    label="Ý kiến" 
    (submit)="onSubmitReject($event)">
</app-confirm-input-basic>

<!-- Comment -->
<app-comment-modal #comment="comment" [KPIMucTieuId]="id" [screenKey]="1"></app-comment-modal>

<!-- Form plan -->
<app-form-plan-modal #formPlan="form-plan" (loadList)="getList()"></app-form-plan-modal>

<!-- Cập nhật tên mục tiêu nhỏ -->
<app-edit-tiny-target-modal #editTinyTarget="edit-tiny-target" (loadList)="getList()"></app-edit-tiny-target-modal>

<!-- Popup xem chi tiết phần đánh dấu đỏ -->
<app-basic-content-modal #basicContentHtml="basic-content" [title]="'Nội dung ghi chú'">
  <span [innerHTML]="(basicContentHtml?.data || 'Bản ghi hiện chưa có ghi chú') | safe: 'html'"></span>
</app-basic-content-modal>

<!-- File chi tiết -->
<app-basic-content-modal #basicContentFileKpiDetail="basic-content" [title]="'File tải lên'">
  <ul *ngIf="basicContentFileKpiDetail?.data?.files?.length; else nullFile" class="pl-6 mb-0 text-left">
    <li *ngFor="let file of basicContentFileKpiDetail?.data?.files">
      <a [href]="file?.urlDownload" target="_blank">{{file?.tenFile || '-'}}</a>
      <i nz-icon (click)="onDownloadFile(basicContentFileKpiDetail?.data?.id, file?.tenFile)" nzType="cloud-download" nzTheme="outline" class="m-1 icon-lg text-primary cursor-pointer"></i>
    </li>
  </ul>
  <ng-template #nullFile>Bản ghi hiện chưa có file tải lên</ng-template>
</app-basic-content-modal> 