<nz-modal
    nzCentered
    [(nzVisible)]="isVisible"
    [nzWidth]="800"
    [nzFooter]="null"
    [nzKeyboard]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="saveDraft()" [nzTitle]="isEditMode ? 'Cập nhật chuyển phát nhanh' : 'Đăng ký chuyển phát nhanh'">
    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 230px);">
        <form [formGroup]="formGroup" autocomplete="on">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên người nhận<span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="tenNguoiNhan" name="tenNguoiNhan" placeholder="Tên người nhận" class="form-control input_42" />
                    <div class="form-text text-danger" *ngIf="f?.tenNguoiNhan?.errors && f?.tenNguoiNhan?.touched">
                        <span>Tên người nhận là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên công ty nhận
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="tenCongTyNhan" name="tenCongTyNhan" placeholder="Tên công ty nhận" class="form-control input_42" />
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Số ĐT người nhận <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="sdtNguoiNhan" name="sdtNguoiNhan" placeholder="Số điện thoại người nhận" class="form-control input_42" />
                    <div class="form-text text-danger" *ngIf="f?.sdtNguoiNhan?.errors && f?.sdtNguoiNhan?.touched">
                        <span>Số ĐT người nhận là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Địa chỉ người nhận <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="diaChiNguoiNhan" name="diaChiNguoiNhan" placeholder="Địa chỉ người nhận" class="form-control input_42"/>
                    <div class="form-text text-danger" *ngIf="f?.diaChiNguoiNhan?.errors && f?.diaChiNguoiNhan?.touched">
                        <span>Địa chỉ người nhận là bắt buộc</span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-5" *ngIf="!isEditMode">
                <div class="col-12 col-md-5 ctrl_label">
                    Khu vực <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="khuVucKey" [nzOptions]="khuVucOptions" nzShowSearch
                        nzAllowClear nzPlaceHolder="Khu vực" style="width: 100%;">
                    </nz-select>
                    <div class="form-text text-danger" *ngIf="f?.khuVucKey?.errors && f?.khuVucKey?.touched">
                        <span>Khu vực là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Nội dung 
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" formControlName="noiDung" name="noiDung" placeholder="Nội dung" class="form-control input_42" />
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Số lượng <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        nzPlaceHolder="Số lượng"
                        formControlName="soLuong" class="form-control input_42"
                    ></nz-input-number>
                    <div class="form-text text-danger" *ngIf="f?.soLuong?.errors && f?.soLuong?.touched">
                        <span>Số lượng là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Trọng lượng <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        nzPlaceHolder="Trọng lượng"
                        formControlName="trongLuong" class="form-control input_42"
                    ></nz-input-number>
                    <div class="form-text text-danger" *ngIf="f?.trongLuong?.errors && f?.trongLuong?.touched">
                        <span>Trọng lượng là bắt buộc</span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Hình thức chuyển
                </div>
                <div class="col-12 col-md-7">
                    <nz-radio-group formControlName="hinhThucChuyenKey">
                        <ng-container *ngFor="let item of hinhThucOptions">
                            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
                        </ng-container>
                    </nz-radio-group>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Loại bưu phẩm
                </div>
                <div class="col-12 col-md-7">
                    <nz-radio-group formControlName="loaiBuuPhamKey">
                        <ng-container *ngFor="let item of loaiBuuPhamOptions">
                            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
                        </ng-container>
                    </nz-radio-group>
                </div>
            </div>

            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Loại thanh toán
                </div>
                <div class="col-12 col-md-7">
                    <nz-radio-group formControlName="loaiThanhToanKey">
                        <ng-container *ngFor="let item of loaiThanhToanOptions">
                            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
                        </ng-container>
                    </nz-radio-group>
                </div>
            </div>

            <!-- <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Đơn vị vận chuyển <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <nz-radio-group formControlName="donViVanChuyenKey">
                        <ng-container *ngFor="let item of donViVanChuyenOptions">
                            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
                        </ng-container>
                    </nz-radio-group>
                </div>
            </div> -->

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Đóng gói
                </div>
                <div class="col-12 col-md-7">
                    <nz-radio-group formControlName="dongGoiKey">
                        <ng-container *ngFor="let item of dongGoiOptions">
                            <label nz-radio [nzValue]="item.value">{{item.label}}</label>
                        </ng-container>
                    </nz-radio-group>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 ctrl_label">
                    Ngày gửi <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <nz-date-picker formControlName="ngayGiao" nzPlaceHolder="Chọn ngày" [nzFormat]="'dd-MM-yyyy'" class="form-control input_42" rows="1">
                    </nz-date-picker>
                    <div class="form-text text-danger" *ngIf="f?.ngayGiao?.errors && f?.ngayGiao?.touched">
                        <span>Ngày gửi là bắt buộc</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <div>
                <button
                    nz-popconfirm 
                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure_save_draft' | translate }}"
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate"
                    class="btn btn-light btn-14 py-3 w_130 mr-2" 
                    (nzOnCancel)="removeDraft()" 
                    (nzOnConfirm)="saveDraft()">
                    Hủy
                </button>
                <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                </ng-template>
            </div>
            <div>
                <button class="btn btn-primary btn-14 py-3 w_130" (click)="isEditMode ? onEdit() : onCreate()">Ghi lại</button>
            </div>
        </div>
    </div>
</nz-modal>