@import "../../../../assets/sass/pages/wizard/wizard-3";

img {
  width: 100%;
  height: auto !important;
}

:host {
  .wizard-step {
    cursor: pointer;
  }
  .active {
    .wizard-label {
      .wizard-bar {
        width: 100% !important;
        background-color: #3699ff !important;
      }
    }
  }
}
