<div class="card card-custom">
    <div class="card-header border-0">
        <div class="card-title">
            Phiếu lương
        </div>
    </div>
    <div class="card-body py-0 px-5 m-auto">
        <div class="row w-100 py-0 m-0 search_table">
            <!-- Search -->
            <ng-container>
                <div class="col-12 px-0 mb-2 input-group select_42">
                    <nz-select [(ngModel)]="yearSelected" (ngModelChange)="getPeriod($event)"
                        [nzOptions]="yearsOptions" nzShowSearch nzAllowClear nzPlaceHolder="Năm"
                        style="width: 150px">
                    </nz-select>
                    <nz-select [ngModel]="null" (ngModelChange)="getSalary($event)" [nzOptions]="monthsStepOptions"
                        nzShowSearch nzAllowClear nzPlaceHolder="Kỳ lương" style="width: 250px">
                    </nz-select>
                </div>
            </ng-container>
        </div>
        <div>
            <table class="table table-bordered table_40 table_no" style="width: 100%; max-width: 1500px;">
                <!-- 1 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>1</td>
                    <td colspan="4">Thông tin nhân sự:</td>
                    <td colspan="2">Mã nhân viên:</td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td>Bộ phận làm việc</td>
                    <td colspan="2" class="text-blue-01">{{salaryInfo?.ORG_NAME}}</td>
                    <td colspan="2">Chức danh</td>
                    <td class="text-blue-01">{{salaryInfo?.ORG_NAME}}</td>
                </tr>
                <tr>
                    <td>1.4</td>
                    <td>Vị trí nghiệp vụ</td>
                    <td colspan="5" class="text-blue-01">{{salaryInfo?.POS_NAME}}</td>
                </tr>
                <tr>
                    <td>1.5</td>
                    <td>Số người đăng ký gia cảnh</td>
                    <td colspan="6" class="text-blue-01">{{salaryInfo?.FAMILY1}}</td>
                </tr>
                <!-- 2 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>2</td>
                    <td colspan="4">Thông tin việc làm:</td>
                    <td colspan="2">Thông tin định mức tháng:</td>
                </tr>
                <tr>
                    <td>2.1</td>
                    <td colspan="4">Tổng ngày công tính lương chính thức</td>
                    <td colspan="2" class="text-blue-01">{{salaryInfo?.CW1}}</td>
                </tr>
                <tr>
                    <td>2.2</td>
                    <td colspan="4">Tổng ngày công tính lương thử việc</td>
                    <td colspan="2" class="text-blue-01">{{salaryInfo?.CLCHINH25}}</td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td colspan="4">Số giờ vi phạm QĐ làm việc</td>
                    <td colspan="2" class="text-blue-01">{{salaryInfo?.DEDUCT2}}</td>
                </tr>
                <!-- 3 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>3</td>
                    <td colspan="4">Thông tin hệ số tính lương KPI</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="w_50">3.1</td>
                    <td class="w_180">KPI bộ phận</td>
                    <td class="w_150 text-blue-01">{{salaryInfo?.CW3}}</td>
                    <td class="w_215">KPI bộ phận kiêm nhiệm (nếu có)</td>
                    <td class="w_150 text-blue-01">{{salaryInfo?.CW5}}</td>
                    <td class="w_150">KPI cá nhân</td>
                    <td class="w_150 text-blue-01">{{salaryInfo?.CW4}}</td>
                </tr>
                <!-- 4 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>4</td>
                    <td colspan="5">Thông tin lương</td>
                    <td colspan="2" class="text-right">Đơn vị VNĐ</td>
                </tr>
                <tr>
                    <td>4.1</td>
                    <td colspan="4">Lương cơ bản</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CL3 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>4.2</td>
                    <td colspan="4">Lương KPI</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CL6 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>4.3</td>
                    <td colspan="4">Lương KPI kiêm nhiệm</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CL21 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>4.4</td>
                    <td colspan="4">Lương thử việc</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CLCHINH7 | number: '1.0'}}</td>
                </tr>
                <!-- 5 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>5</td>
                    <td colspan="6">Thông tin phụ cấp, trợ cấp</td>
                </tr>
                <tr>
                    <td>5.1</td>
                    <td colspan="4">Trợ cấp ăn ca theo QĐ chung của công ty</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CLCHINH3 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>5.2</td>
                    <td colspan="4">Phụ cấp điện thoại</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.ALLOWANCE1 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>5.3</td>
                    <td colspan="4">Phụ cấp đi lại</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.ALLOWANCE2 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>5.4</td>
                    <td colspan="4">Phụ cấp công việc</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.ALLOWANCE3 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>5.5</td>
                    <td colspan="4">Phụ cấp khác</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.ALLOWANCE4 | number: '1.0'}}</td>
                </tr>
                <!-- 6 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>6</td>
                    <td colspan="6">Thông tin thu nhập tháng</td>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td colspan="4">Lương cơ bản</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CL3 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td colspan="4">Lương KPI</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CL4 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td colspan="4">Lương thử việc</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CLCHINH25 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td colspan="4">Lương làm thêm giờ</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.TAX4 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td colspan="4">Các khoản phụ cấp</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.ALLOWANCE4 | number: '1.0'}}</td>
                </tr>
                <!-- 7 -->
                <tr class="bg-secondary font-weight-bolder">
                    <td>7</td>
                    <td colspan="6">Các khoản phải trừ</td>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td colspan="4">Bảo hiểm XH, bảo hiển YT, BH thất nghiệp (10,5% LCB)</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.INSU3 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td colspan="4">Quỹ công đoàn (1% LCB)</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.DEDUCT1 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td colspan="4">Thuế TNCN</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.TAX5 | number: '1.0'}}</td>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td colspan="4">Vi phạm QĐ giờ làm việc</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.DEDUCT2 | number: '1.0'}}</td>
                </tr>
                <tr class="bg-secondary font-weight-bolder">
                    <td>8</td>
                    <td colspan="4">Thực lĩnh (6)-(7)</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CSUM1 | number: '1.0'}}</td>
                </tr>
                <tr class="font-weight-bolder">
                    <td>9</td>
                    <td colspan="4">Bù lương</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.CSUM4 | number: '1.0'}}</td>
                </tr>
                <tr class="font-weight-bolder">
                    <td>10</td>
                    <td colspan="4">Truy thu:</td>
                    <td colspan="2" class="text-blue-01 text-right">{{salaryInfo?.DEDUCT12 | number: '1.0'}}</td>
                </tr>
                <tr class="bg-primary text-white font-weight-bolder">
                    <td colspan="5" class="text-center">SỐ TIỀN ĐƯỢC NHẬN (8)+(9)-(10)</td>
                    <td colspan="2" class="text-right">{{salaryInfo?.CSUM3 | number: '1.0'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>