<nz-modal
    nzCentered
    [(nzVisible)]="isVisible"
    [nzWidth]="710"
    [nzFooter]="null"
    [nzKeyboard]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="isVisible = false" [nzTitle]="'Thêm mới Thư viện video'">
    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 230px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên album ảnh <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="TenAlbumAnh" placeholder="Tên album ảnh" class="form-control input_42" maxlength="500"/>
                    <div class="form-text text-danger" *ngIf="f?.TenAlbumAnh?.errors && f?.TenAlbumAnh?.touched">
                        <span>Tên album ảnh là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Mô tả <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="MoTa" placeholder="Mô tả" class="form-control input_42" maxlength="500"/>
                    <div class="form-text text-danger" *ngIf="f?.MoTa?.errors && f?.MoTa?.touched">
                        <span>Mô tả là bắt buộc</span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Ảnh đại diện album
                </div>
                <div class="col-12 col-md-7">
                    <!-- Upload  -->
                    <app-select-file 
                        [reset]="true" 
                        [multiple]="false" 
                        [acceptKey]="'image'" 
                        [text]="'Tải ảnh lên'" 
                        [(selectedFiles)]="selectedFiles">
                    </app-select-file>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Đăng tải ảnh
                </div>
                <div class="col-12 col-md-7">
                    <!-- Upload multiple -->
                    <app-select-file 
                        [show]="false" 
                        [reset]="false" 
                        [multiple]="true" 
                        [acceptKey]="'image'" 
                        [text]="'Tải ảnh lên'" 
                        [(selectedFiles)]="selectedMultipleFile">
                    </app-select-file>
                </div>
            </div>

            <!-- Multi upload -->
            <div class="row">
                <div class="col-12">
                    <nz-image-group>
                        <ng-container *ngFor="let item of selectedMultipleFile; let i = index">
                            <div class="image-input image-input-outline my-5 mx-3">
                                <img nz-image [nzSrc]="item?.base64" class="image-input-wrapper w_192 h_190">

                                <!-- Edit image -->
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                                    data-action="change" data-toggle="tooltip" title="Change" data-original-title="Change">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input #fileChange (change)="onChangeMultipleFile(fileChange.files, i)" type="file" accept=".png, .jpg, .jpeg, .gif" />
                                </label>
        
                                <!-- Remove -->
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" (click)="onRemoveMultipleFile(i)"
                                    data-action="remove" data-toggle="tooltip" title="Remove">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                        </ng-container>
                    </nz-image-group>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <div>
                <button 
                    nz-popconfirm 
                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}" 
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate"
                    class="btn btn-light btn-14 py-3 w_130 mr-2" 
                    (nzOnCancel)="isVisible = true" 
                    (nzOnConfirm)="isVisible = false">
                    Hủy
                </button>
                <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                </ng-template>
            </div>
            <div>
                <button class="btn btn-primary btn-14 py-3 w_130" (click)="onCreate()">Ghi lại</button>
            </div>
        </div>
    </div>
</nz-modal>