<nz-modal
    nzCentered
    [(nzVisible)]="isVisible"
    [nzWidth]="700"
    [nzFooter]="null"
    [nzKeyboard]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="isVisible = false" [nzTitle]="dataDetail ? 'Cập nhật Tài liệu' : 'Thêm mới Tài liệu công ty'">
    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 230px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Mã tài liệu<span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="maTaiLieu" placeholder="Mã tài liệu" class="form-control input_42" />
                    <div class="form-text text-danger" *ngIf="f?.maTaiLieu?.errors && f?.maTaiLieu?.touched">
                        <span> Mã tài liệu là bắt buộc</span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tên tài liệu<span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="tenTaiLieu" placeholder="Tên tài liệu" class="form-control input_42" />
                    <div class="form-text text-danger" *ngIf="f?.tenTaiLieu?.errors && f?.tenTaiLieu?.touched">
                        <span> Tên tài liệu là bắt buộc</span>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Mô tả
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="moTa" placeholder="Mô tả" class="form-control input_42" />
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Ngôn ngữ 
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select nzShowSearch [nzOptions]="ngonNguOptions" nzAllowClear nzPlaceHolder="Lựa chọn"
                        formControlName="ngonNguKey" (ngModelChange)="false" style="width: 100%;">
                    </nz-select>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Loại tài liệu
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select nzShowSearch [nzOptions]="loaiTaiLieuOptions" nzAllowClear nzPlaceHolder="Lựa chọn"
                        formControlName="loaiTaiLieuKey" (ngModelChange)="false" style="width: 100%;">
                    </nz-select>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Thứ tự sắp xếp
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="thuTuSapXep" placeholder="Thứ tự sắp xếp" class="form-control input_42" />
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    HashTag
                </div>
                <div class="col-12 col-md-7">
                    <input formControlName="tag" placeholder="HashTag" class="form-control input_42" />
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tài liệu đính kèm <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <app-select-file 
                        [reset]="false" 
                        [multiple]="true" 
                        [acceptKey]="'excel_word_pdf_rar_zip'" 
                        [text]="'Tải tài liệu lên'" 
                        [(selectedFiles)]="selectedFiles">
                    </app-select-file>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 ctrl_label">Cho phép tải về</div>
                <div class="col-12 col-md-7">
                    <label nz-checkbox formControlName="isDownload">Cho phép tải về</label>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <div>
                <button
                    nz-popconfirm 
                    nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                    [nzIcon]="iconTpl"
                    [nzOkText]="'COMMON.btn.yes' | translate"
                    [nzCancelText]="'COMMON.btn.no' | translate"
                    (nzOnCancel)="isVisible = true"
                    (nzOnConfirm)="isVisible = false"
                    class="btn btn-light btn-14 py-3 w_130 mr-2" >
                    Hủy
                </button>
                <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                </ng-template>
            </div>
            <div>
                <button class="btn btn-primary btn-14 py-3 w_130" (click)="dataDetail ? onEdit() : onCreate()">Ghi lại</button>
            </div>
        </div>
    </div>
</nz-modal>