<nz-modal
    nzCentered
    [nzWidth]="1000"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="'Thêm mới KPI năm bộ phận'"
    (nzOnOk)="isVisible = false">
    <div class="scroll-gray-8 p-8" style="max-height: calc(100vh - 180px);">
        <form [formGroup]="formGroup">
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Tạo với KPI thư viện</div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="kpiThuVienKey" nzShowSearch nzAllowClear nzPlaceHolder="KPI thư viện" [nzOptions]="thuVienOptions" class="w-100"></nz-select>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Mục tiêu bộ phận <span class="text-danger">(*)</span></div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="mucTieuBoPhanKey" nzShowSearch nzAllowClear nzPlaceHolder="Mục tiêu bộ phận" [nzOptions]="mucTienBoPhanOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.mucTieuBoPhanKey?.errors && f?.mucTieuBoPhanKey?.touched">
                        <span>Mục tiêu bộ phận là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">Kế hoạch công việc liên quan <span class="text-danger">(*)</span></div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="keHoachCongViecLienQuanKeys" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Kế hoạch công việc liên quan" [nzOptions]="keHoachCongViecLienQuanOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.keHoachCongViecLienQuanKeys?.errors && f?.keHoachCongViecLienQuanKeys?.touched">
                        <span>Kế hoạch công việc liên quan là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="mb-2">Tên KPI<span class="text-danger">(*)</span></div>
                    <div [ngxSummernote]="config" formControlName="tenKPI" class="col-12"></div>
                    <div class="form-text text-danger" *ngIf="f?.tenKPI?.errors && f?.tenKPI?.touched">
                        <span>Tên KPI là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="mb-2">Nội dung công thức tính<span class="text-danger">(*)</span></div>
                    <div [ngxSummernote]="config" formControlName="noiDungCongThuc" class="col-12"></div>
                    <div class="form-text text-danger" *ngIf="f?.noiDungCongThuc?.errors && f?.noiDungCongThuc?.touched">
                        <span>Nội dung công thức tính là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Thành phần
                </div>
                <div class="col-12 col-md-7">
                    <app-select-tags-button [(tags)]="thanhPhanTags" (onAdd)="addIngredients.showModal()" btnLable="Thêm thành phần"></app-select-tags-button>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Nhân sự chịu trách nhiệm <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="nhanSuChiuTrachNhiemKeys" nzMode="multiple" nzShowSearch nzAllowClear [nzOptions]="nhanSuChiuTrachNhiemOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.nhanSuChiuTrachNhiemKeys?.errors && f?.nhanSuChiuTrachNhiemKeys?.touched">
                        <span>Nhân sự chịu trách nhiệm là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Đơn vị tính <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="donViTinhKey" nzShowSearch nzAllowClear [nzOptions]="donViTinhOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.donViTinhKey?.errors && f?.donViTinhKey?.touched">
                        <span> Đơn vị tính là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Loại KPI <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="loaiKPIKey" nzShowSearch nzAllowClear [nzOptions]="loaiKPIOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.loaiKPIKey?.errors && f?.loaiKPIKey?.touched">
                        <span>Loại KPI là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Tần suất theo dõi <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7 select_42">
                    <nz-select formControlName="tanSuatTheoDoiKey" nzShowSearch nzAllowClear [nzOptions]="tanSuatTheoDoiOptions" class="w-100"></nz-select>
                    <div class="form-text text-danger" *ngIf="f?.tanSuatTheoDoiKey?.errors && f?.tanSuatTheoDoiKey?.touched">
                        <span>Tần suất theo dõi là bắt buộc</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-5 ctrl_label">
                    Trọng số (%) <span class="text-danger">(*)</span>
                </div>
                <div class="col-12 col-md-7">
                    <nz-input-number
                        [nzMin]="0"
                        [nzMax]="100"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="trongSo"
                        nzPlaceHolder="Trọng số" class="form-control input_42 text-left">
                    </nz-input-number>
                    <div class="form-text text-danger" *ngIf="f?.trongSo?.errors && f?.trongSo?.touched">
                        <span *ngIf="f?.trongSo?.errors?.required">Trọng số là bắt buộc</span>
                        <span *ngIf="f?.trongSo?.errors?.max">Giá trị tối đa cho phép {{trongSoMax == 0 ? '=' : '<='}} {{trongSoMax}}</span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="mb-2"> Ghi chú</div>
                    <div [ngxSummernote]="config" formControlName="ghiChu"></div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-2">
                    <div class="mb-2"> Cả năm</div>
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="tienDoCaNam"
                        nzPlaceHolder="Cả năm"
                        class="form-control input_42 text-left"
                    ></nz-input-number>
                    <!-- [class.is-invalid]="f?.tienDoCaNam?.errors && f?.tienDoCaNam?.touched" -->
                </div>
                <div class="col-12 col-md-2">
                    <div class="mb-2"> Quý I</div>
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="quy1"
                        nzPlaceHolder="Quý I"
                        class="form-control input_42 text-left"
                    ></nz-input-number>
                </div>
                <div class="col-12 col-md-2">
                    <div class="mb-2"> Quý II</div>
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="quy2"
                        nzPlaceHolder="Quý II"
                        class="form-control input_42 text-left"
                    ></nz-input-number>
                </div>
                <div class="col-12 col-md-2">
                    <div class="mb-2"> Quý III</div>
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="quy3"
                        nzPlaceHolder="Quý III"
                        class="form-control input_42 text-left"
                    ></nz-input-number>
                </div>
                <div class="col-12 col-md-2">
                    <div class="mb-2"> Quý IV</div>
                    <nz-input-number
                        [nzMin]="0"
                        [nzStep]="1"
                        [nzFormatter]="formatter"
                        [nzParser]="parser"
                        formControlName="quy4"
                        nzPlaceHolder="Quý IV"
                        class="form-control input_42 text-left"
                    ></nz-input-number>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <button
                nz-popconfirm
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl"
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 w_130 py-3 mr-2"
                (nzOnCancel)="isVisible = true"
                (nzOnConfirm)="isVisible = false"
                [translate]="'COMMON.btn.cancel'">
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-primary btn-14 py-3 w_130" (click)="kpiMucTieuId ? onEdit() : onCreate()" [translate]="'COMMON.btn.confirm'"></button>
        </div>
    </div>
    <!-- Thêm mới thành phần -->
    <app-add-ingredients-modal
        #addIngredients="add-ingredients"
        (thanhPhan)="onAddThanhPhan($event)"
        [apiStt]="'/api/danhsachkpi-dm/trang-thai-thanh-phan'"
        [apiCreate]="'/api/danhsachkpi-create/thanh-phan'">
    </app-add-ingredients-modal>
</nz-modal>