// Yellow
.bg-y {
  color: #2e2e2e;
  background-color: #f7f39b !important;
}
.bg-y-1 {
  color: #2e2e2e;
  background-color: #fffdd0 !important;
}
// Green
.bg-g {
  color: #2e2e2e;
  background-color: #a8d698 !important;
}
.bg-g-1 {
  color: #2e2e2e;
  background-color: #bfdbb5 !important;
}
// Blue
.bg-b {
  color: #2e2e2e;
  background-color: #b7e0e7 !important;
}
.bg-b-1 {
  color: #2e2e2e;
  background-color: #c2dde2 !important;
}
// Gray
.bg-gr {
  color: #2e2e2e;
  background-color: #c4c4c4 !important;
}
.bg-gr-1 {
  color: #2e2e2e;
  background-color: #e2e2e2 !important;
}
