<h4 class="text-blue-01 my-8">{{ 'Thay đổi mật khẩu' | translate }}</h4>

<form [formGroup]="formGroup">
    <div class="row my-5">
        <div class="col-12 col-md-4 ctrl_label">Mật khẩu hiện tại</div>
        <div class="col-12 col-md-8">
            <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                <input formControlName="currentPassword" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mật khẩu hiện tại"/>
            </nz-input-group>
            <div class="form-text text-danger" *ngIf="f?.currentPassword?.errors && f?.currentPassword?.touched">
                <span>Mật khẩu hiện tại là bắt buộc</span>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-4 ctrl_label">Mật khẩu mới</div>
        <div class="col-12 col-md-8">
            <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mật khẩu mới"/>
            </nz-input-group>
            <div class="form-text text-danger" *ngIf="f?.password?.errors && f?.password?.touched">
                <span *ngIf="f?.password?.errors?.required">Mật khẩu mới là bắt buộc</span>
                <span *ngIf="f?.password?.errors?.pattern">Mật khẩu phải là 6 ký tự số</span>
            </div>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col-12 col-md-4 ctrl_label">Nhập lại mật khẩu mới</div>
        <div class="col-12 col-md-8">
            <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="'large'">
                <input formControlName="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu mới"/>
            </nz-input-group>
            <div class="form-text text-danger" *ngIf="f?.confirmPassword?.errors && f?.confirmPassword?.touched">
                <span *ngIf="f?.confirmPassword?.errors?.required">Mật khẩu nhập lại là bắt buộc</span>
                <span *ngIf="f?.confirmPassword?.errors?.matchPassword">Mật khẩu nhập lại không khớp</span>
            </div>
        </div>
    </div>
    <!-- Eye template -->
    <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" class="cursor-pointer"></i>
    </ng-template>
</form>

<div class="row justify-content-center">
    <button (click)="onSubmit()" class="btn btn-primary w_180 mx-1">Thay đổi mật khẩu</button>
    <button class="btn btn-danger w_180 mx-1" (click)="onResetPassword()">Reset password</button>
</div>