
<div class="row">
    <!--begin::Content-->
    <div class="col-xxl-9 order-1 order-xxl-1">
        <div class="card card-custom card-stretch">
            <div class="card-header border-0">
                <div class="card-title">
                    <h3 class="card-label">{{ 'DOCUMENT.INSTITUTION.LIST.title' | translate }}</h3>
                </div>
            </div>
            <div class="card-body py-0">
                <!-- begin: search -->
                <div class="row search_table">
                    <div class="col-12 col-sm-8 col-xxl-6 px-0 input-group">
                        <div class="input-group-prepend position-relative">
                            <i class="fab la-sistrix icon-lg position-absolute" style="bottom: 30px; right: 15px;"></i>
                            <input type="text" class="form-control" (input)="search$.next($event.target.value)" placeholder="{{ 'DOCUMENT.INSTITUTION.LIST.hintSearch' | translate }}..." />
                        </div>
                        <ng-container >
                            <nz-select ngModel="selectStatusOptions"
                                (ngModelChange)="paginator.TrangThaiKey = $event; getList()"
                                [nzOptions]="statusOptions" nzAllowClear
                                nzPlaceHolder="{{ 'DOCUMENT.INSTITUTION.LIST.hintChoose' | translate }}">
                            </nz-select>
                        </ng-container>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-xxl-6 px-0 text-lg-right">
                        <!-- <button type="button" class="btn m-0 m-md-1" [class.btn-primary]="!isSearchAdvance" [class.btn-info]="isSearchAdvance" style="width: 50px" (click)="isSearchAdvance = !isSearchAdvance">
                            <i *ngIf="!isSearchAdvance" nz-icon nzType="appstore-add" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
                            <i *ngIf="isSearchAdvance" nz-icon nzType="appstore" nzTheme="outline" class="p-0 pb-1 icon-lg"></i>
                        </button> -->
                        <button type="button" class="btn btn-primary" (click)="regimeForm.showModal()">{{ 'COMMON.btn.add_new' | translate }}</button>
                    </div>
                </div>
                <!-- end: search -->
                <!-- begin: table -->
                <nz-table
                    [nzLoading]=""
                    [nzSize]="'small'"
                    [nzShowPagination]="false"
                    [nzData]="dataTable.items"
                    [nzScroll]="{ x: '1100px', y: 'calc(100vh - 360px)' }">
                    <thead>
                        <tr>
                            <ng-container *ngFor="let col of dataTable.columns">
                                <th *ngIf="!col?.sortField"
                                    [nzWidth]="col?.width"
                                    [nzSortOrder]="col.sortOrder || null"
                                    (nzSortOrderChange)="sortOrderChange($event, col?.field)">
                                    {{ col?.title }}
                                </th>
                                <th *ngIf="col?.sortField"
                                    [nzAlign]="'center'"
                                    [nzWidth]="col?.width">
                                    {{ col?.title }}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataTable.items; let i = index"  class="cursor-pointer">
                            <ng-container *ngFor="let col of dataTable.columns">
                                <td *ngIf="col?.field" [ngSwitch]="col?.field" (click)="showDetail(data)">
                                    <span *ngSwitchCase="'tenVanBan'" class="truncate-2" [title]="data[col.field]">
                                        <span class="symbol-label">
                                            <img src="assets/media/bg/Vector_vbdc.svg" class="align-self-center w_30 h_30" style="max-width: 40px;max-height: 40px;;">
                                        </span>
                                        {{ data[col.field] }}
                                    </span>
                                    <span *ngSwitchCase="'tenTrangThai'" (click)="showDetail(data)" [title]="data[col.field]">
                                        <ng-container [ngSwitch]="data[col.field]">
                                            <span *ngSwitchCase="'Hết hiệu lực'"
                                                class="label label-light-danger label-inline">
                                                {{ data[col.field] }}
                                            </span>
                                            <span *ngSwitchDefault class="label label-light-primary label-inline">
                                                {{ data[col.field] }}
                                            </span>
                                        </ng-container>
                                    </span>
                                    <div *ngSwitchCase="'thaoTac'" class="d-flex justify-content-center">
                                        <a *ngIf="data?.isAllowEdit" title="Edit" (click)="regimeForm.showModal(data)"
                                            class="btn btn-icon btn-hover btn-sm mx-2">
                                            <img src="assets/media/bg/Vector_edit.svg" class="align-self-center w_30 h_30">
                                        </a>
                                        <a *ngIf="data?.isAllowDelete" title="Delete" 
                                            class="btn btn-icon btn-hover btn-sm mx-2 cursor-pointer"
                                            nz-popconfirm
                                            nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                                            [nzIcon]="iconTpl"
                                            [nzOkText]="'COMMON.btn.yes' | translate"
                                            [nzCancelText]="'COMMON.btn.no' | translate"
                                            (nzOnConfirm)="onDelete(data?.vanBanDinhCheId)">
                                            <img src="assets/media/bg/Vector_delete.svg" class="align-self-center w_30 h_30">
                                            <ng-template #iconTpl>
                                                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                                            </ng-template>
                                        </a>
                                        <a *ngIf="data?.isAllowDownload" title="Download zip" (click)="zipFile(data?.vanBanDinhCheId)"
                                            class="btn btn-icon btn-hover btn-sm mx-2">
                                            <img src="assets/media/bg/Vector_download.svg" class="align-self-center w_30 h_30">
                                        </a>
                                    </div>
                                    <span *ngSwitchDefault (click)="showDetail(data)" class="truncate-2" [title]="data[col.field]">{{ data[col.field] }}</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </nz-table>
                <!-- end: table -->
                <app-paginator [paginator]="paginator" (paginate)="getList()"></app-paginator>
            </div>
        </div>
    </div>
    <!--end::Content-->
    <!--begin::Aside-->
    <div class="col-lg-12 col-xxl-3 order-2 order-xxl-2 mt-8 mt-xxl-0 ">
        <app-regime-new></app-regime-new>
        <app-regime-expired></app-regime-expired>
    </div>
    <!--end::Aside-->
</div>
<app-regime-form-modal #regimeForm (loadList)="getList()"></app-regime-form-modal>