<nz-modal
    nzCentered
    [nzWidth]="500"
    [(nzVisible)]="isVisible"
    [nzFooter]="null"
    (nzOnCancel)="isVisible = false"
    [nzMaskClosable]="false"
    [nzTitle]="title"
    (nzOnOk)="isVisible = false">

    <div class="p-8">
        <h6 *ngIf="confirm">{{confirm}}</h6>
        <form [formGroup]="formGroup">
            <div class="my-2">{{lable}}</div>
            <textarea rows="3" formControlName="content" class="form-control input_42 pt-3"></textarea>
        </form>
    </div>

    <div class="footer">
        <div class="d-flex justify-content-end">
            <button
                nz-popconfirm
                nzPopconfirmTitle="{{ 'COMMON.btn.are_you_sure' | translate }}"
                [nzIcon]="iconTpl"
                [nzOkText]="'COMMON.btn.yes' | translate"
                [nzCancelText]="'COMMON.btn.no' | translate"
                class="btn btn-light btn-14 w_130 py-3 mr-2"
                (nzOnCancel)="isVisible = true"
                (nzOnConfirm)="isVisible = false"
                [translate]="'COMMON.btn.cancel'">
            </button>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
            <button class="btn btn-primary btn-14 py-3 w_130" (click)="onSubmit()" [translate]="'COMMON.btn.confirm'"></button>
        </div>
    </div>
</nz-modal>